<div class="card p-3 promise-item bg-light">
    <blockquote class="blockquote mb-0 card-body">
        <p>
            {% if no_link is defined and no_link %}
                {{ promise.name }}
            {% else %}
                <a href="{{ path('promise', {'slug': promise.slug}) }}" class="promise-name">{{ promise.name }}</a>
            {% endif %}
        </p>
        <footer class="blockquote-footer">
            <small class="text-muted">{{ promise.madeTime|ago }}</small>
        </footer>
        {% if promise.status %}
            <div class="status" style="color: {{ promise.status.color }}">{{ promise.status.name }}</div>
        {% endif %}
    </blockquote>
</div>