{% set is_main = is_main is defined and is_main %}
<div class="card p-3 promise-item{% if not is_main %} bg-light{% endif %}">
    <blockquote class="blockquote mb-0 card-body">
        {% if is_main %}
            <h1 class="h5">{{ promise.name }}</h1>
        {% else %}
            <p><a href="{{ path('promise', {'slug': promise.slug}) }}"
                  class="promise-name">{{ promise.name }}</a></p>
        {% endif %}
        <footer class="blockquote-footer">
            <small class="text-muted pr-1"
                   data-toggle="tooltip" data-placement="right"
                   title="{{ promise.madeTime|date }}">{{ promise.madeTime|ago }}</small>
        </footer>
        {% if (show_status is not defined or show_status) and promise.status %}
            <div class="status status-color-{{ promise.status.color }}">{{ promise.status.name }}</div>
        {% endif %}
    </blockquote>
</div>