{# @var array promise_statistics #}
{# @var \App\Entity\Mandate mandate #}

{% set maxCount = 0 %}
{% for promise in promise_statistics %}
    {% set maxCount = max(maxCount, promise.count) %}
{% endfor %}

<div class="promise-statuses-statistics">
    {% for promise in promise_statistics %}
        <div class="{% if not loop.last %}mb-3{% endif %}">
            <div>
                {% if promise.status is defined %}
                    {% set statusName = promise.count == 1
                        ? promise.status.name
                        : promise.status.namePlural %}
                    {% set statusDescription = promise.status.description %}
                    {% set bgColorClass = "status-bg-" ~ promise.status.color ~ "-dark" %}
                    {% set colorClass = "status-color-" ~ promise.status.color %}
                {% else %}
                    {% set statusName = promise.count == 1
                        ? 'placeholder.inactive_singular'|trans
                        : 'placeholder.inactive_plural'|trans %}
                    {% set statusDescription = "" %}
                    {% set bgColorClass = "bg-secondary" %}
                    {% set colorClass = "text-secondary" %}
                {% endif %}
                {% set spacingClasses = "py-1 px-2" %}
                {% set width = promise.count * 100 / maxCount %}

                <a
                    href="{{ path('promises', {
                        'statusSlug': promise.status is defined ? promise.status.slug : '~',
                        'politicianSlug': mandate.politician.slug,
                        'electionSlug': mandate.election.slug
                    }) }}"
                    class="container-fluid status-statistics bg-white rounded"
                    title="{{ statusDescription }}"
                >
                    <span class="row py-1 pr-1">
                        <samp class="col-auto count text-body font-weight-bold">
                            {% if promise.count < 10 %}&nbsp;{% endif %}{{ promise.count }}
                        </samp>
                        <b class="col percentage">
                            <span class="{{ spacingClasses }} {{ colorClass }}">
                                {{ statusName }}
                            </span>
                            <span class="{{ spacingClasses }} {{ bgColorClass }} text-white rounded" style="width: {{ width }}%;">
                                {{ statusName }}
                            </span>
                        </b>
                    </span>
                </a>
            </div>
        </div>
    {% endfor %}
</div>