{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\Methodology methodology #}

{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.methodologies'|trans, link: path('admin_methodologies')}
            ],
            current: {title: 'title.methodology_delete'|trans},
            add: {link: path('admin_methodology_add'), text: 'action.add_methodology'|trans}
        } only %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <h3>{{ methodology.title }}</h3>
                {{ form_errors(form) }}
                <p>
                    <button type="submit" class="btn btn-danger">
                        <span class="fa fa-trash-alt"></span>
                        {{ 'action.delete_methodology'|trans }}
                    </button>
                </p>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}