{# @var \Symfony\Component\Form\FormInterface field #}
{# @var string imagePath #}
{# @var string changeText #}

{% if imagePath %}
    <div class="mb-3" style="max-width: 15rem">
        <img src="{{ asset(imagePath) }}" class="card-img mb-1" alt="Photo">

        {% set id = "photo-field-" ~ random() %}
        <button class="btn btn-sm btn-light btn-block" type="button"
                data-toggle="collapse" data-target="#{{ id }}"
                aria-expanded="false" aria-controls="{{ id }}"
        >{{ changeText|default('action.change_photo'|trans) }}</button>

        <div
            class="collapse multi-collapse pt-2 {% if not field.vars.valid %}show{% endif %}"
            id="{{ id }}"
        >
            <p>{{ form_help(field) }}</p>
            {{ form_widget(field) }}
        </div>
    </div>
{% else %}
    {{ form_row(field) }}
{% endif %}