{# @var array blogPosts #}
{# @var array categories #}

{% extends 'app/base.html.twig' %}

{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ "title.blog"|trans }} deFACTO{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% set max_title_length = 50 %}
{% set selectedCategorySlug = app.request.query.get(constant('App\\Consts::QUERY_PARAM_CATEGORY')) %}

{% block main %}
    <main class="container-fluid bg-light-pattern pt-4 pb-5">
        <header>
            <h1 class="text-center mb-4">{{ "title.blog"|trans }}</h1>

            {% if categories|length %}
                <div class="row">
                    <div class="col text-center mb-4 py-3 bg-dark-pattern">
                        <h5 class="text-white mb-3">{{ "label.categories"|trans }}</h5>

                        {% for category in categories %}
                            {% set isSelected = selectedCategorySlug == category.slug %}
                            <a
                                href="{{ path('blog') }}{%
                                    if not isSelected %}?{{ constant('App\\Consts::QUERY_PARAM_CATEGORY') }}={{ category.slug|escape('html_attr') }}{% endif
                                %}"
                                class="btn btn-sm{%
                                    if isSelected %} btn-info{% else %} btn-outline-info{% endif
                                %}{%
                                    if not loop.last %} mr-3{% endif %}"
                            >{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </header>
        {% if blogPosts is empty %}
            <div class="row">
                <div class="col text-center text-secondary">
                    <p class="h3 mt-4"><span class="fa fa-surprise"></span></p>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                {% for blogPost in blogPosts %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="card mb-3">
                            {% if blogPost.image %}
                                <a
                                    href="{{ path('blog_post', {slug: blogPost.slug}) }}"
                                    class="d-block"
                                >
                                    <div class="ratio-16-9 overflow-hidden">
                                        <img
                                            src="{{ macros.blog_image_url(blogPost) }}"
                                            alt="Image"
                                            class="content-no-height rounded-top d-block"
                                        >
                                    </div>
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h2 class="h4">
                                    <a
                                        href="{{ path('blog_post', {slug: blogPost.slug}) }}"
                                        class="text-body"
                                        title="{{ blogPost.title }}"
                                    >{{ blogPost.title|u.truncate(max_title_length, '…') }}</a>
                                </h2>
                                <div>
                                    <small>
                                        <samp class="text-success">{{ blogPost.publishTime|date }}</samp>

                                        {% if blogPost.category and blogPost.category.slug != selectedCategorySlug %}
                                            <a
                                                class="ml-3"
                                                href="{{ path('blog') }}?{{ constant('App\\Consts::QUERY_PARAM_CATEGORY') }}={{ blogPost.category.slug|escape('html_attr') }}"
                                            >{{ blogPost.category.name }}</a>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if blogPosts.getPaginationData()['pageCount'] > 1 %}
                <div class="row mt-4">
                    <div class="col text-center">
                        <div class="d-inline-block pagination-wrapper">
                            {{ knp_pagination_render(blogPosts) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' with {} only %}
{% endblock %}
