{% extends 'app/base.html.twig' %}
{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ "title.blog"|trans }} deFACTO{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% set max_title_length = 70 %}

{% block main %}
    <main class="container-fluid bg-light-pattern pb-5">
        {% include 'app/component/after-header-space.html.twig' %}
        <header>
            <h1 class="text-center mb-3">{{ "title.blog"|trans }}</h1>
        </header>
        {% if blogPosts is empty %}
            <div class="row">
                <div class="col text-center text-secondary">
                    <p class="h3 mt-4"><span class="fa fa-surprise"></span></p>
                </div>
            </div>
        {% else %}
            <div class="row">
                {% for blogPost in blogPosts %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="card mb-3">
                            {% if blogPost.image %}
                                <a
                                    href="{{ path('blog_post', {slug: blogPost.slug}) }}"
                                    class="d-block"
                                >
                                    <div class="ratio-16-9 overflow-hidden">
                                        <img
                                            src="{{ macros.blog_image_url(blogPost) }}"
                                            alt="Image"
                                            class="content-no-height rounded-top d-block"
                                        >
                                    </div>
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <h2 class="h4">
                                    <a
                                        href="{{ path('blog_post', {slug: blogPost.slug}) }}"
                                        class="text-body"
                                        title="{{ blogPost.title }}"
                                    >{{ blogPost.title|truncate(50, true) }}</a>
                                </h2>
                                <div>
                                    <samp class="small text-muted">{{ blogPost.publishTime|date }}</samp>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if blogPosts.getPaginationData()['pageCount'] > 1 %}
                <div class="row mt-4">
                    <div class="col text-center">
                        <div class="d-inline-block pagination-wrapper">
                            {{ knp_pagination_render(blogPosts) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' with {} only %}
{% endblock %}
