{% extends 'app/base.html.twig' %}
{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block main %}
    <div class="container-fluid bg-light-pattern pb-5 px-0">
        {% include 'app/component/after-header-space.html.twig' %}
        <h1 class="text-center mb-3">Blog</h1>
        {% if blogPosts is empty %}
            <div class="row">
                <div class="col text-center text-secondary">
                    <p class="h3 mt-4"><span class="fa fa-surprise"></span></p>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                        {% for blogPost in blogPosts %}
                            <div class="row">
                                <div class="col">
                                    <div class="card mb-3">
                                        {% if blogPost.image %}
                                            <div class="ratio-16-9 overflow-hidden">
                                                <img
                                                    src="{{ macros.blog_image_url(blogPost) }}"
                                                    alt="Image"
                                                    class="content-no-height rounded-top d-block"
                                                >
                                            </div>
                                        {% endif %}
                                        <div class="card-body">
                                            <h2>
                                                <a
                                                    href="{{ path('blog_post', {slug: blogPost.slug}) }}"
                                                >{{ blogPost.title }}</a>
                                            </h2>
                                            <div><small>{{ blogPost.publishTime|date }}</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if blogPosts.getPaginationData()['pageCount'] > 1 %}
                <div class="container-fluid">
                    <div class="row mt-4">
                        <div class="col text-center">
                            <div class="d-inline-block pagination-wrapper">
                                {{ knp_pagination_render(blogPosts) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include 'app/component/section/footer.html.twig' with {} only %}
{% endblock %}
