{# @var \App\Entity\BlogPost blogPost #}

{% extends 'app/base.html.twig' %}

{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ blogPost.title }} • {{ "title.blog"|trans }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('blog_post', {'slug': blogPost.slug}) }}" />
{% endblock %}

{% block head_meta_og_image -%}
    {% if blogPost.image %}
        {{- app.request.getSchemeAndHttpHost ~ macros.blog_image_url(blogPost) -}}
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block main %}
    <main class="bg-light-pattern pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="row">
                        <div class="col px-1">
                            <article
                                class="card mb-3"
                                itemscope
                                itemtype="https://schema.org/BlogPosting"
                            >
                                {% include "app/component/schema.org/author-and-publisher.html.twig" with {} only %}

                                {% if blogPost.image %}
                                    <header class="ratio-16-9 overflow-hidden">
                                        <img
                                            src="{{ macros.blog_image_url(blogPost) }}"
                                            alt="Image"
                                            class="content-no-height rounded-top d-block"
                                            itemprop="image"
                                        >
                                    </header>
                                {% endif %}
                                <div class="card-body px-lg-5 pb-lg-5 {% if not blogPost.image %}pt-lg-5{% endif %}">
                                    <h1
                                        class="h2"
                                        itemprop="headline"
                                    >{{ blogPost.title }}</h1>
                                    <p>
                                        <small>
                                            <time
                                                itemprop="datePublished"
                                                datetime="{{ blogPost.publishTime|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
                                                class="text-success"
                                            ><samp>{{ blogPost.publishTime|date }}</samp></time>
                                            <meta
                                                itemprop="dateModified"
                                                content="{{ blogPost.publishTime|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
                                            >

                                            {% if blogPost.category %}
                                                <a
                                                    class="ml-3"
                                                    href="{{ path('blog') }}?{{ constant('App\\Consts::QUERY_PARAM_CATEGORY') }}={{ blogPost.category.slug|escape('html_attr') }}"
                                                >{{ blogPost.category.name }}</a>
                                                <meta itemprop="genre" content="{{ blogPost.category.name|escape('html_attr') }}">
                                            {% endif %}
                                        </small>
                                    </p>
                                    <div
                                        class="raw-html"
                                        itemprop="articleBody"
                                    >{{ blogPost.content|raw }}</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'app/component/section/footer.html.twig' with {} only %}
{% endblock %}
