{# @var \App\Entity\Constituency constituency #}
{# @var \App\Entity\Election election #}
{# @var \App\Entity\Mandate[] mandates {politician_id: mandate} #}
{# @var int[] mandate_ranks {mandate_id: rank} #}
{# @var \App\Entity\Candidate[] candidates {politician_id: candidate} #}
{# @var \App\Entity\ConstituencyProblem[] problems #}
{# @var arrau problem_opinions {problem_id: [opinion]} #}
{# @var \App\Repository\Vo\ElectionDataVo election_data #}

{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% set constituency_image = constituency.hasMap() ? (
    "https://maps.googleapis.com/maps/api/staticmap?size=300x300&scale=2"
    ~ "&center=" ~ constituency.map.lat ~ "," ~ constituency.map.lng
    ~ "&markers=color:%23af2227%7Clabel:" ~ constituency.number ~ "%7C" ~ constituency.map.lat ~ "," ~ constituency.map.lng
    ~ "&zoom=10&language=" ~ app.request.locale ~ "&key=" ~ google_maps_api_key
) : null %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ constituency.name }}{% endblock %}
{% block head_meta_og_image %}{{ constituency_image ? constituency_image : parent() }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.constituency'|trans }}">
    <style type="text/css">
        img.constituency-map, .candidate-card {
            max-width: 15rem;
        }
        .party-logo {
            max-width: 2rem;
            max-height: 2rem;
        }
        .party-logo.position-absolute {
            bottom: 0.5em;
            right: 0.5em;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="bg-info text-white py-4">
        <div class="container text-center text-lg-left">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row align-items-center">
                        {% if constituency.hasMap() %}
                            <div class="col-12 col-lg-auto">
                                <img
                                    src="{{ constituency_image }}"
                                    alt="Map"
                                    class="constituency-map img-fluid w-100 rounded border-primary"
                                >
                            </div>
                        {% endif %}
                        <div class="col-12 col-lg mb-4 mb-lg-0 order-first order-lg-0">
                            <div class="{% if not constituency.hasMap() %}text-center{% endif %}">
                                <h1 class="mb-4">{{ constituency.name }}</h1>
                                <a
                                    href="{{ constituency.link }}"
                                    target="_blank"
                                    class="btn btn-sm btn-warning mb-4"
                                >{{ "action.view_details"|trans }}</a>
                                {% include "app/component/block/constituencies-select.html.twig" with {
                                    constituencies: election_data.constituencies,
                                    placeholder: 'action.view_to_other_constituency'|trans
                                } only %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-pattern text-center pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>
                        <span class="fa fa-person-booth mr-2"></span>
                        <span>{{ election.name }}</span>
                        {{ "text.from"|trans }}
                        <time datetime="{{ election.date|date('Y-m-d') }}">
                            {{ election.date|date }}
                        </time>
                    </h2>
                    {% if election.parent %}
                        <h6 class="mt-3">
                            <a
                                href="{{ path('constituency_election', {
                                    'slug': constituency.slug,
                                    'electionSlug': election.parent.slug
                                }) }}"
                                class="btn btn-sm btn-outline-info"
                            >
                                {{- "" -}}
                                <span class="fa fa-history mr-2"></span>
                                {{- "" -}}
                                {{ "action.view_candidates_from"|trans }}
                                {{ election.parent.theName|lower }}
                                {{ "text.from"|trans }}
                                {{ election.parent.date|date }}
                                {{- "" -}}
                            </a>
                        </h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% for politician_id, mandate in mandates %}
        {# @var \App\Entity\Mandate mandate #}

        {% if candidates[ mandate.politician.id ] is defined %}
            {% set candidate = candidates[ mandate.politician.id ] %}
            {# remove from the Contracandidates list below #}
            {% set candidates = candidates | filter((v, k) => k != mandate.politician.id) %}
        {% else %}
            {% set candidate = null %}
        {% endif %}

        <div class="bg-dark-pattern pb-4 text-white">
            <h3 class="p-3 text-center {% if mandate.ceasingDate %}bg-dark{% else %}bg-success{% endif %}">
                <a
                    href="{{ path("politician", {"slug": mandate.politician.slug}) }}"
                    class="text-white"
                >
                    {{- "" -}}
                    <span>{{ mandate.politician.firstName }}</span>
                    <span>{{ mandate.politician.lastName }}</span>
                    {{- "" -}}
                </a>
                {% if mandate.ceasingDate %}
                    <span class="fa fa-user-times mx-2"></span>
                    <span>{{ "text.mandate_ceased_on"|trans({'%date%': mandate.ceasingDate|date}) }}</span>
                {% else %}
                    <span class="fa fa-vote-yea mx-2"></span>
                    <span class="mr-1">{{ mandate.politician.female ? "text.elected_f"|trans : "text.elected"|trans }}</span>
                    <span>{{ mandate.institutionTitle.title.name }}</span>
                {% endif %}
            </h3>
            <div class="pt-3">
                {% include "app/component/block/mandate/photo-and-votes-container.html.twig" with {
                    mandate: mandate,
                    candidate: candidate
                } %}
            </div>
            {% if not mandate.ceasingDate and mandate_ranks[ mandate.id ] is defined and mandate_ranks[ mandate.id ] %}
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9 text-center">
                            <a
                                href="{{ path('mandate', {'electionSlug': mandate.election.slug, 'politicianSlug': mandate.politician.slug}) }}"
                                class="btn btn-lg btn-outline-info btn-block"
                            >
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg font-size-3">
                                        <span>{{ "label.the_place"|trans }}</span>
                                        <strong class="text-warning">{{ mandate_ranks[ mandate.id ] }}</strong>
                                    </div>
                                    <div class="col-12 col-lg-auto order-first order-lg-0 pt-2 pt-lg-0 text-warning">
                                        <span class="fa fa-chart-line align-middle font-size-2"></span>
                                        <div class="h6 mb-0 mt-1">{{ "title.performance_index"|trans }}</div>
                                    </div>
                                    <div class="col-12 col-lg font-size-3">
                                        <strong class="text-warning">{{ mandate.competenceUsesPoints }}</strong>
                                        <span>{{ "text.points"|trans({"%count%": mandate.competenceUsesPoints}) }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if candidates|length %}
        <div class="bg-dark pt-4 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center text-light mb-4">
                            {% if date() < election.date %}
                                {{ "title.candidates_with_most_chances"|trans }}
                            {% else %}
                                {{ "title.contracandidates"|trans }}
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for politician_id, candidate in candidates %}
                        <div class="col-8 col-lg-auto">
                            <div class="card mb-3 mx-auto candidate-card border-light">
                                <div class="position-relative">
                                    <img
                                        src="{{ macros.politician_photo_url(candidate.politician) }}"
                                        alt="Politician"
                                        class="bg-white rounded-bottom img-fluid w-100 card-img-top"
                                    >
                                </div>
                                <div class="card-body px-2 pt-3 pb-1">
                                    <h6 class="card-title text-center">
                                        <a href="{{ path("politician", {slug: candidate.politician.slug}) }}">
                                            <span>{{ candidate.politician.firstName }}</span>
                                            <span>{{ candidate.politician.lastName }}</span>
                                        </a>
                                    </h6>
                                    {% if candidate.party %}
                                        <div class="row align-items-center">
                                            <div class="col-auto pr-2">
                                                <img
                                                    src="{{ macros.party_logo_url(candidate.party) }}"
                                                    alt="Partid"
                                                    class="img-rounded party-logo d-inline-block"
                                                >
                                            </div>
                                            <small class="col pl-0">{{ candidate.party.name }}</small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if problems|length %}
        <div class="container-fluid px-0 bg-white">
            <div class="container py-4">
                <div class="row">
                    <div class="col">
                        <header>
                            <h3 class="mb-3 text-center">
                                {{ "title.constituency_problems_n"|trans({"%count%": problems|length}) }}
                            </h3>
                        </header>
                        <div class="row justify-content-center">
                            {% set problem_is_full_width = problems|length == 1 %}
                            {% for problem in problems %}
                                <div class="col-lg-{{ problem_is_full_width ? "8" : "6" }}">
                                    <div class="card bg-danger mb-3">
                                        <div class="card-body text-white {{ problem_is_full_width ? "text-center" : "" }}">
                                            <h5 class="card-title mb-1">{{ problem.problem.name }}</h5>
                                            <p class="card-text">
                                                {% if problem.type %}
                                                    <span class="badge badge-warning mr-3 mb-2 mb-lg-0">
                                                        {{ "title.problem"|trans }}
                                                        {{ ("label.problem_types." ~ problem.type)|trans|lower }}
                                                    </span>
                                                    <br class="d-lg-none">
                                                {% endif %}

                                                <span class="fa fa-male mr-1"></span>
                                                <small>
                                                    {% if problem.respondents %}
                                                        <samp class="font-weight-bold">{{ problem.respondents }}</samp>
                                                        {{ "text.respondents_n"|trans({'%count%': problem.respondents}) }}
                                                    {% endif %}
                                                    {% if problem.percentage %}
                                                        {% if problem.respondents %}
                                                            <span class="text-white-50 mx-2 d-none d-lg-inline">•</span>
                                                            <br class="d-lg-none">
                                                        {% endif %}
                                                        <samp class="font-weight-bold">{{ problem.percentage }}</samp>%
                                                        {{ "text.of_respondents"|trans }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                            {% if problem.questionnaireEmbedLink %}
                                                {% set iframe_html %}
                                                    <div class="bg-white p-3 rounded">
                                                        <iframe
                                                            src="{{ problem.questionnaireEmbedLink }}"
                                                            frameborder="0"
                                                            width="100%"
                                                            height="600"
                                                            allowfullscreen
                                                        ></iframe>
                                                    </div>
                                                {% endset %}
                                                <div class="text-center">
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm btn-outline-warning"
                                                        onclick="this.parentElement.innerHTML = '{{ iframe_html|escape('js') }}';"
                                                    >{{ "action.vote"|trans }}</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% if problem_opinions[ problem.problem.id ] is defined %}
                                            <div class="card-body bg-white rounded">
                                                <h5 class="text-success font-weight-bold">{{ "title.candidates_solutions"|trans }}</h5>
                                                {% for opinion in problem_opinions[ problem.problem.id ] %}
                                                    <p class="{{ loop.last ? "mb-0" : "mb-1" }}">
                                                        <span>
                                                            <a
                                                                href="{{ path("politician", {slug: opinion.politician.slug}) }}"
                                                                class="font-weight-bold"
                                                            >
                                                                {{- "" -}}
                                                                <span>{{ opinion.politician.firstName }}</span>
                                                                <span>{{ opinion.politician.lastName }}</span>
                                                                {{- "" -}}
                                                            </a>
                                                            {{- "" -}}
                                                        </span>:
                                                        <span>{{ opinion.opinion|nl2br }}</span>
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <footer class="alert alert-dark text-muted" role="alert">
                            <h6 class="alert-heading">{{ "title.problems_metodology"|trans }}</h6>
                            <p class="mb-0 small">
                                {# fixme: translate #}
                                Principalele probleme la nivel local au fost identificate în cadrul sondajului
                                <a href="https://5000.md/" target="_blank">5000 de moldoveni au spus</a>,
                                în cadrul căruia au fost chestionați peste 5 mii de cetățeni din circumscripțiile uninominale,
                                cu excepția regiunii transnistriene și a circumscripțiilor din afara țării.
                                Sondajul a fost organizat în cadrul proiectului <a href="https://avemcevotam.md/" target="_blank">Avem ce votăm</a>,
                                implementat de coaliția următoarelor organizații din Moldova:
                                deFacto,
                                Inițiativa Civică <a href="http://puneumarul.md/" target="_blank">„Pune Umărul”</a>,
                                Școala de Gândire Critică pentru Tineri <a href="http://www.challenger.md/" target="_blank">„Challenger”</a>,
                                Programul <a href="http://puneumarul.md/lansarea-programului-femei-cu-idei/">„Femei cu Idei”</a>.
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
