{# @var \App\Entity\Constituency constituency #}
{# @var \App\Entity\Election election #}
{# @var \App\Entity\Mandate[] mandates {politician_id: mandate} #}
{# @var int[] mandate_ranks {mandate_id: rank} #}
{# @var \App\Entity\Candidate[] candidates {politician_id: candidate} #}
{# @var \App\Entity\ConstituencyProblem[] problems #}
{# @var arrau problem_opinions {problem_id: [opinion]} #}
{# @var \App\Repository\Vo\ElectionDataVo election_data #}

{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern page-constituency-election{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ constituency.name }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <link
        rel="canonical"
        href="{{ url('constituency_election', {'slug': constituency.slug, 'electionSlug': election.slug}) }}"
    />
    <meta name="description" content="{{ 'meta_description.constituency'|trans }}">
{% endblock %}

{% block main %}
    <main>
        <header
            class="bg-info text-white py-4"
            itemscope
            itemtype="https://schema.org/AdministrativeArea"
        >
            <div class="container-fluid text-center text-lg-left">
                <div class="row justify-content-center">
                    <div class="col-lg-9 my-4 my-lg-0 text-center">
                        <h1 itemprop="name">{{ constituency.name }}</h1>
                        <a
                            href="{{ constituency.link }}"
                            target="_blank"
                            class="btn btn-sm btn-warning mb-4"
                            itemprop="url"
                        >{{ "action.view_details"|trans }}</a>
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6">
                                <div class="alert alert-info mb-0">
                                    {% include "app/component/block/constituencies-select.html.twig" with {
                                        constituencies: election_data.constituencies,
                                        placeholder: 'action.view_to_other_constituency'|trans
                                    } only %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="bg-light-pattern text-center pt-5 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div
                            itemscope
                            itemtype="https://schema.org/VoteAction"
                        >
                            <meta
                                itemprop="startTime"
                                content="{{ election.date|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
                            >
                            <meta
                                itemprop="endTime"
                                content="{{ election.date|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
                            >
                            <meta itemprop="location" content="{{ constituency.name }}">
                            {% for politician_id in candidates|default([])|keys %}
                                <div
                                    itemprop="candidate"
                                    itemscope
                                    itemtype="https://schema.org/Person"
                                    itemref="candidate-{{ politician_id }}"
                                ></div>
                            {% endfor %}

                            <h2 itemprop="name">
                                <span class="fa fa-person-booth mr-2"></span>
                                <span>{{ election.name }}</span>
                                {{ "text.from"|trans }}
                                <time>
                                    {{ election.date|date }}
                                </time>
                            </h2>
                        </div>

                        {% set other_elections = { icon: '', elections: [] } %}
                        {% if election.parent %}
                            {% set other_elections = { icon: 'history', elections: [election.parent] } %}
                        {% elseif election.children %}
                            {% set other_elections = { icon: 'vote-yea', elections: election.children } %}
                        {% endif %}
                        {% if other_elections.elections|length %}
                            {% for other_election in other_elections.elections %}
                                {# @var \App\Entity\Election other_election #}
                                {% if other_election.candidatesInConstituency(constituency) %}
                                    <h6 class="mt-3">
                                        <a
                                            href="{{ path('constituency_election', {
                                                'slug': constituency.slug,
                                                'electionSlug': other_election.slug
                                            }) }}"
                                            class="btn btn-sm btn-outline-info"
                                        >
                                            {{- "" -}}
                                            <span class="fa fa-{{ other_elections.icon}} mr-2"></span>
                                            {{- "" -}}
                                            {{ "action.view_candidates_from"|trans }}
                                            {{ other_election.theName|lower }}
                                            {{ "text.from"|trans }}
                                            {{ other_election.date|date }}
                                            {{- "" -}}
                                        </a>
                                    </h6>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% for politician_id, mandate in mandates %}
            {# @var \App\Entity\Mandate mandate #}

            {% if candidates[ mandate.politician.id ] is defined %}
                {% set candidate = candidates[ mandate.politician.id ] %}
                {# remove from the Contracandidates list below #}
                {% set candidates = candidates | filter((v, k) => k != mandate.politician.id) %}
            {% else %}
                {% set candidate = null %}
            {% endif %}

            <section
                class="bg-dark-pattern pb-4 text-white"
                itemscope
                itemtype="https://schema.org/WinAction"
            >
                <meta itemprop="location" content="{{ constituency.name }}">
                <meta
                    itemprop="description"
                    content="{{ mandate.votesCount }} {{ "text.votes"|trans }}, {{ mandate.votesPercent }}%"
                >

                <div
                    itemprop="participant"
                    itemscope
                    itemtype="https://schema.org/Person"
                    itemid="{{ path('politician', {'slug': mandate.politician.slug}) }}"
                >
                    <div id="candidate-{{ politician_id }}">
                        <meta itemprop="image" content="{{ macros.politician_photo_url(mandate.politician) }}">

                        <h3 class="p-3 text-center {% if mandate.ceasingDate %}bg-dark{% else %}bg-success{% endif %}">
                            <a
                                href="{{ path("politician", {"slug": mandate.politician.slug}) }}"
                                class="text-white"
                            >
                                {{- "" -}}
                                <span itemprop="givenName">{{ mandate.politician.firstName }}</span>
                                <span itemprop="familyName">{{ mandate.politician.lastName }}</span>
                                {{- "" -}}
                            </a>
                            {% if mandate.ceasingDate %}
                                <span class="fa fa-user-times mx-2"></span>
                                <span>{{ "text.mandate_ceased_on"|trans({'%date%': mandate.ceasingDate|date}) }}</span>
                            {% else %}
                                <span class="fa fa-vote-yea mx-2"></span>
                                <span class="mr-1">{{ mandate.politician.female ? "text.elected_f"|trans : "text.elected"|trans }}</span>
                                <span>{{ mandate.politician.female ? mandate.institutionTitle.title.nameFemale : mandate.institutionTitle.title.name }}</span>
                            {% endif %}
                        </h3>
                        <div class="pt-3">
                            <noindex>
                                {% include "app/component/block/mandate/photo-and-votes-container.html.twig" with {
                                    mandate: mandate,
                                    candidate: candidate
                                } %}
                            </noindex>
                        </div>
                    </div>
                </div>
                {% if not mandate.ceasingDate and mandate_ranks[ mandate.id ] is defined and mandate_ranks[ mandate.id ] %}
                    <noindex>
                        <div class="container mt-4">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9 text-center">
                                    <a
                                        href="{{ path('mandate', {'electionSlug': mandate.election.slug, 'politicianSlug': mandate.politician.slug}) }}"
                                        class="btn btn-lg btn-outline-success btn-block"
                                    >
                                        <div class="row align-items-center">
                                            <div class="col-12 col-lg font-size-3 text-warning text-white-on-hover">
                                                <span class="text-light">{{ "label.the_place"|trans }}</span>
                                                <strong>{{ mandate_ranks[ mandate.id ] }}</strong>
                                            </div>
                                            <div class="col-12 col-lg-auto order-first order-lg-0 pt-2 pt-lg-0 text-success text-white-on-hover">
                                                <span class="fa fa-chart-line align-middle font-size-2"></span>
                                                <div class="h6 mb-0 mt-1">{{ "title.responsibility_index"|trans }}</div>
                                            </div>
                                            <div class="col-12 col-lg font-size-3 text-info text-white-on-hover">
                                                <strong>{{ mandate.competenceUsesPoints }}</strong>
                                                <span class="text-light">{{ "text.points"|trans({"%count%": mandate.competenceUsesPoints|transpoints}) }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </noindex>
                {% endif %}
            </section>
        {% endfor %}
        {% if candidates|length %}
            <section class="bg-dark pt-4 pb-5">
                <div class="container-fluid">
                    <header class="row">
                        <div class="col">
                            <h3 class="text-center text-light mb-4">
                                {% if date() < election.date %}
                                    {{ "title.candidates_with_most_chances"|trans }}
                                {% else %}
                                    {{ "title.main_contracandidates"|trans }}
                                {% endif %}
                            </h3>
                        </div>
                    </header>
                    <div class="row justify-content-center">
                        {% for politician_id, candidate in candidates %}
                            <div
                                class="col-8 col-lg-auto"
                                id="candidate-{{ politician_id }}"
                                itemid="{{ path('politician', {'slug': candidate.politician.slug}) }}"
                            >
                                <div class="card mb-3 mx-auto candidate-card border-light">
                                    <div class="position-relative">
                                        <img
                                            src="{{ macros.politician_photo_url(candidate.politician) }}"
                                            alt="Politician"
                                            class="bg-white rounded-bottom img-fluid card-img-top"
                                            itemprop="image"
                                        >
                                    </div>
                                    <div class="card-body px-2 pt-3 pb-1">
                                        <h6 class="card-title text-center">
                                            <a href="{{ path("politician", {slug: candidate.politician.slug}) }}">
                                                <span itemprop="givenName">{{ candidate.politician.firstName }}</span>
                                                <span itemprop="familyName">{{ candidate.politician.lastName }}</span>
                                            </a>
                                        </h6>
                                        {% if candidate.party %}
                                            <div class="row align-items-center">
                                                <div class="col-auto pr-2">
                                                    <img
                                                        src="{{ macros.party_logo_url(candidate.party) }}"
                                                        alt="Partid"
                                                        class="img-rounded party-logo d-inline-block"
                                                    >
                                                </div>
                                                <small class="col pl-0">{{ candidate.party.name }}</small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if problems|length %}
            <section class="container-fluid px-0 bg-white">
                <div class="container py-5">
                    <div class="row">
                        <div class="col">
                            <header>
                                <h3 class="mb-3 text-center">
                                    {{ "title.constituency_problems_n"|trans({"%count%": problems|length}) }}
                                </h3>
                            </header>
                            <div class="row justify-content-center">
                                {% set problem_is_full_width = problems|length == 1 %}
                                {% for problem in problems %}
                                    <div class="col-lg-{{ problem_is_full_width ? "8" : "6" }}">
                                        <div class="card bg-danger mb-3">
                                            <div class="card-body text-white {{ problem_is_full_width ? "text-center" : "" }}">
                                                <h5 class="card-title mb-1">{{ problem.problem.name }}</h5>
                                                <p class="card-text">
                                                    {% if problem.type %}
                                                        <span class="badge badge-warning mr-3 mb-2 mb-lg-0">
                                                        {{ "title.problem"|trans }}
                                                            {{ ("label.problem_types." ~ problem.type)|trans|lower }}
                                                    </span>
                                                        <br class="d-lg-none">
                                                    {% endif %}

                                                    <span class="fa fa-male mr-1"></span>
                                                    <small>
                                                        {% if problem.respondents %}
                                                            <samp class="font-weight-bold">{{ problem.respondents }}</samp>
                                                            {{ "text.respondents_n"|trans({'%count%': problem.respondents}) }}
                                                        {% endif %}
                                                        {% if problem.percentage %}
                                                            {% if problem.respondents %}
                                                                <span class="text-white-50 mx-2 d-none d-lg-inline">•</span>
                                                                <br class="d-lg-none">
                                                            {% endif %}
                                                            <samp class="font-weight-bold">{{ problem.percentage }}</samp>%
                                                            {{ "text.of_respondents"|trans }}
                                                        {% endif %}
                                                    </small>
                                                </p>
                                                {% if problem.questionnaireEmbedLink %}
                                                    {% set iframe_html %}
                                                        <div class="bg-white p-3 rounded">
                                                            <iframe
                                                                src="{{ problem.questionnaireEmbedLink }}"
                                                                frameborder="0"
                                                                width="100%"
                                                                height="600"
                                                                allowfullscreen
                                                            ></iframe>
                                                        </div>
                                                    {% endset %}
                                                    <div class="text-center">
                                                        <button
                                                            type="button"
                                                            class="btn btn-sm btn-outline-warning"
                                                            onclick="this.parentElement.innerHTML = '{{ iframe_html|escape('js') }}';"
                                                        >{{ "action.vote"|trans }}</button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            {# todo: move this logic in controller #}
                                            {% set visible_problem_opinions = problem_opinions[ problem.problem.id ]|default([]) %}
                                            {% if election.date < date() and mandates|length %}
                                                {% set elected_opinions = [] %}
                                                {% for opinion in visible_problem_opinions %}
                                                    {% if mandates[ opinion.politician.id ] is defined %}
                                                        {% set elected_opinions = elected_opinions|merge([opinion]) %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% set visible_problem_opinions = elected_opinions %}
                                            {% endif %}
                                            {% if visible_problem_opinions|length %}
                                                <div class="card-body bg-white rounded">
                                                    <h5 class="text-success font-weight-bold">{{ "title.candidates_solutions"|trans }}</h5>
                                                    {% for opinion in visible_problem_opinions %}
                                                        <p class="{{ loop.last ? "mb-0" : "mb-1" }}">
                                                        <span>
                                                            <a
                                                                href="{{ path("politician", {slug: opinion.politician.slug}) }}"
                                                                class="font-weight-bold"
                                                            >
                                                                {{- "" -}}
                                                                <span>{{ opinion.politician.firstName }}</span>
                                                                <span>{{ opinion.politician.lastName }}</span>
                                                                {{- "" -}}
                                                            </a>
                                                            {{- "" -}}
                                                        </span>:
                                                            <span>{{ opinion.opinion|nl2br }}</span>
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card bg-light text-muted small">
                                <div class="card-body">
                                    <noindex>
                                    {% include "app/component/block/constituency-problem-methodology.html.twig" with {} only %}
                                    </noindex>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
