{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{# @var \App\Entity\Constituency constituency #}
{# @var \App\Entity\Election election #}
{# @var array[] elections #}
{# @var Mandate[] politician_to_mandate #}
{# @var int[] mandates_competence_points_ranks #}

{% set constituency_image = constituency.hasMap() ? (
    "https://maps.googleapis.com/maps/api/staticmap?size=300x300&scale=2"
    ~ "&center=" ~ constituency.map.lat ~ "," ~ constituency.map.lng
    ~ "&markers=color:%23af2227%7Clabel:" ~ constituency.number ~ "%7C" ~ constituency.map.lat ~ "," ~ constituency.map.lng
    ~ "&zoom=10&language=" ~ app.request.locale ~ "&key=" ~ google_maps_api_key
) : null %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ constituency.name }}{% endblock %}
{% block head_meta_og_image %}{{ constituency_image ? constituency_image : parent() }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.constituency'|trans }}">
{% endblock %}

{% set logoSize = '2rem' %}
{% set maxImgWidth = '20rem' %}

{% block main %}
    <main class="container-fluid px-0 bg-white">
        {% include 'app/component/after-header-space.html.twig' %}
        <section class="container pb-4">
            <div
                class="row mb-3"
                itemscope
                itemtype="https://schema.org/AdministrativeArea"
                itemref="constituency-image constituency-link"
                itemid="#constituency"
            >
                <header class="col">
                    <h1 itemprop="name">{{ constituency.name }}</h1>
                </header>
            </div>
            <div class="row">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <div itemscope>
                        {% if constituency.hasMap() %}
                            <img
                                src="{{ constituency_image }}"
                                alt="Map"
                                class="img-fluid w-100 rounded"
                                style="max-width: {{ maxImgWidth }};"
                                itemprop="image"
                                id="constituency-image"
                            >
                        {% endif %}
                    </div>
                    <div class="mt-3" itemscope>
                        <a
                            itemprop="url"
                            id="constituency-link"
                            content="{{ constituency.link }}"
                            href="{{ constituency.link }}"
                            target="_blank"
                            class="btn btn-primary mb-0 d-inline-block d-lg-block"
                        >{{ "label.constituency_details"|trans }}</a>
                    </div>
                </div>
                <section class="col-lg-9" itemscope itemtype="https://schema.org/VoteAction">
                    <link itemprop="location" href="#constituency"/>
                    <header>
                        <h6 class="mb-3 text-secondary">
                            <span itemprop="name">{{ election.name }}</span>
                            {{ "text.from"|trans }}
                            <time itemprop="startTime" datetime="{{ election.date|date('Y-m-d') }}">
                                {{ election.date|date }}
                            </time>

                            {% if election.parent and elections[election.parent.id]|default %}
                                <small>
                                    <span class="d-block d-lg-none mt-3"></span>
                                    <span class="fa fa-angle-double-left mr-1 mx-lg-2"></span>
                                    <a
                                        href="{{ path('constituency', {
                                            'slug': constituency.slug,
                                            'electionSlug': election.parent.slug
                                        }) }}"
                                    >
                                        {{- "" -}}
                                        {{ "action.view_candidates_from"|trans }}
                                        {{ election.parent.theName|lower }}
                                        {{ "text.from"|trans }}
                                        {{ election.parent.date|date }}
                                        {{- "" -}}
                                    </a>
                                </small>
                            {% endif %}
                        </h6>
                        <h3 class="mb-3" itemprop="description">
                            {{ "title.candidates_with_most_chances"|trans }}<small class="text-muted">*</small>
                        </h3>
                    </header>
                    <div class="row">
                        {% for candidate in elections[election.id].candidates|default([]) %}
                            {# @var \App\Entity\Mandate mandate #}
                            {% set mandate = politician_to_mandate[ candidate.politician.id ]|default(null) %}
                            {% set competence_points_rank = mandate ? mandates_competence_points_ranks[mandate.id] : null %}

                            <div
                                class="col-sm-6 col-lg-4 {{ mandate ? "order-first" : "" }}"
                                itemprop="participant"
                                itemscope
                                itemtype="https://schema.org/Person"
                            >
                                <div
                                    class="card mb-3 {{ mandate ? ("elected" ~ (mandate.ceasingDate ? " ceased" : "")) : "" }}"
                                    style="max-width: {{ maxImgWidth }};"
                                >
                                    <div class="position-relative">
                                        <img
                                            src="{{ macros.politician_photo_url(candidate.politician) }}"
                                            alt="Politician"
                                            class="img-fluid w-100 card-img-top"
                                            itemprop="image"
                                        >
                                        {% if mandate %}
                                            <div class="elected-label text-center text-white py-2">
                                                <h6 class="mb-0">
                                                    {% if mandate.ceasingDate %}
                                                        <span class="fa fa-user-times"></span>
                                                        <span class="ml-1">
                                                            {{ "text.mandate_ceased_on"|trans({'%date%': mandate.ceasingDate|date}) }}
                                                        </span>
                                                    {% else %}
                                                        <span class="fa fa-vote-yea"></span>
                                                        <span class="mx-1">{{ "text.elected"|trans }}</span>
                                                        <span itemprop="jobTitle">{{ mandate.institutionTitle.title.name }}</span>
                                                    {% endif %}
                                                </h6>

                                                {# todo #}
                                                {% if false and competence_points_rank %}
                                                    <samp class="text-warning">
                                                        <span class="fa fa-chart-line"></span>
                                                        Rank #{{ competence_points_rank }}
                                                        ({{ mandate.competenceUsesPoints }} points)
                                                    </samp>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-body px-2 pt-3 pb-1">
                                        <h6 class="card-title text-center">
                                            <a href="{{ path("politician", {slug: candidate.politician.slug}) }}">
                                                <span itemprop="givenName">{{ candidate.politician.firstName }}</span>
                                                <span itemprop="familyName">{{ candidate.politician.lastName }}</span>
                                            </a>
                                        </h6>
                                        {% if candidate.party %}
                                            <div
                                                class="row align-items-center"
                                                itemprop="memberOf"
                                                itemscope
                                                itemtype="https://schema.org/Organization"
                                            >
                                                <div class="col-auto pr-2">
                                                    <div style="width: {{ logoSize }};">
                                                        <img
                                                            src="{{ macros.party_logo_url(candidate.party) }}"
                                                            alt="Partid"
                                                            class="img-rounded"
                                                            style="max-height: {{ logoSize }}; max-width: {{ logoSize }};"
                                                            itemprop="image"
                                                        >
                                                    </div>
                                                </div>
                                                <small
                                                    class="col pl-0"
                                                    itemprop="name"
                                                >{{ candidate.party.name }}</small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <footer class="alert alert-dark text-muted" role="alert">
                        <h6 class="alert-heading">{{ "title.candidates_metodology"|trans }}</h6>
                        <p class="mb-0 small">
                            Platforma deFacto.md monitorizează și prezintă programele electorale ale candidaților uninominali
                            cu cele mai mari șanse de a câștiga la alegerile din {{ election.date|date }}.
                            Lista restrânsă a candidaților a fost întocmită în baza unei analize extinse,
                            în care au fost luați în calcul următorii factori: rezultatele din alegerile locale 2015 și parlamentare 2014,
                            cele mai recente sondaje, precum și opiniile experților locali.
                            Orice sugestie în privința listei restrânse a candidaților poate fi expediată la adresa:
                            <a href='mai&#108;to&#58;ech&#105;pa&#64;&#100;ef&#97;c&#116;&#37;6&#70;&#46;md'>ec&#104;ipa&#64;defact&#111;&#46;&#109;&#100;</a>
                        </p>
                    </footer>
                </section>
            </div>
            {% if elections[election.id].problems|default %}
                <section class="row mt-4">
                    <div class="col">
                        <header>
                            <h3 class="mb-3">{{ "title.constituency_problems"|trans }}</h3>
                        </header>
                        <div class="row">
                            {% for problem in elections[election.id].problems %}
                                <article
                                    class="col-lg-6"
                                    itemscope
                                    itemtype="https://schema.org/DislikeAction"
                                >
                                    <link itemprop="location" href="#constituency"/>
                                    <div class="card bg-danger mb-3">
                                        <div class="card-body text-white">
                                            <h5
                                                class="card-title mb-1"
                                                itemprop="name"
                                            >{{ problem.problem.name }}</h5>
                                            <p class="card-text">
                                                {% if problem.type %}
                                                    <span
                                                        class="badge badge-warning mr-3 mb-2 mb-lg-0"
                                                        itemprop="description"
                                                    >
                                                        {{ "title.problem"|trans }}
                                                        {{ ("label.problem_types." ~ problem.type)|trans|lower }}
                                                    </span>
                                                    <br class="d-lg-none">
                                                {% endif %}

                                                <span class="fa fa-male mr-1"></span>
                                                <small itemprop="description">
                                                    {% if problem.respondents %}
                                                        <samp class="font-weight-bold">{{ problem.respondents }}</samp>
                                                        {{ "text.respondents_n"|trans({'%count%': problem.respondents}) }}
                                                    {% endif %}
                                                    {% if problem.percentage %}
                                                        {% if problem.respondents %}
                                                            <span class="text-white-50 mx-2 d-none d-lg-inline">•</span>
                                                            <br class="d-lg-none">
                                                        {% endif %}
                                                        <samp class="font-weight-bold">{{ problem.percentage }}</samp>%
                                                        {{ "text.of_respondents"|trans }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        </div>
                                        {% if elections[election.id].problemOpinions[ problem.problem.id ] is defined %}
                                            <div class="card-body bg-white rounded">
                                                <h5 class="text-success font-weight-bold">{{ "title.candidates_solutions"|trans }}</h5>
                                                {% for opinion in elections[election.id].problemOpinions[ problem.problem.id ] %}
                                                    <p
                                                        class="{{ loop.last ? "mb-0" : "mb-1" }}"
                                                        itemprop="potentialAction"
                                                        itemscope
                                                        itemtype="https://schema.org/Action"
                                                    >
                                                        <span itemprop="agent" itemscope itemtype="https://schema.org/Person">
                                                            <a
                                                                href="{{ path("politician", {slug: opinion.politician.slug}) }}"
                                                                class="font-weight-bold"
                                                                itemprop="url"
                                                            >
                                                                {{- "" -}}
                                                                <span itemprop="givenName">{{ opinion.politician.firstName }}</span>
                                                                <span itemprop="familyName">{{ opinion.politician.lastName }}</span>
                                                                {{- "" -}}
                                                            </a>
                                                            {{- "" -}}
                                                        </span>:
                                                        <span itemprop="description">{{ opinion.opinion|nl2br }}</span>
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <footer class="alert alert-dark text-muted" role="alert">
                            <h6 class="alert-heading">{{ "title.problems_metodology"|trans }}</h6>
                            <p class="mb-0 small">
                                Principalele probleme la nivel local și național au fost identificate în cadrul sondajului
                                <a href="https://5000.md/" target="_blank">5000 de moldoveni au spus</a>,
                                în cadrul căruia au fost chestionați peste 5 mii de cetățeni din circumscripțiile uninominale,
                                cu excepția regiunii transnistriene și a circumscripțiilor din afara țării.
                                Sondajul a fost organizat în cadrul proiectului <a href="https://avemcevotam.md/" target="_blank">Avem ce votăm</a>,
                                implementat de coaliția următoarelor organizații din Moldova:
                                deFacto,
                                Inițiativa Civică <a href="http://puneumarul.md/" target="_blank">„Pune Umărul”</a>,
                                Școala de Gândire Critică pentru Tineri <a href="http://www.challenger.md/" target="_blank">„Challenger”</a>,
                                Programul <a href="http://puneumarul.md/lansarea-programului-femei-cu-idei/">„Femei cu Idei”</a>.
                            </p>
                        </footer>
                    </div>
                </section>
            {% endif %}
        </section>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
