{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}Circumscripție{% endblock %}

{% block main %}
    <div class="container-fluid bg-light-pattern">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1 class="text-center">{{ constituency.name }}</h1>
                </div>
            </div>
        </div>
        {% for election in elections %}
            <div class="container">
                <div class="row mb-4">
                    <div class="col">
                        <h4 class="text-center text-secondary">{{ election.election.name }} {{ election.election.date|date }}</h4>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-lg-4">
                        <div class="card">
                            <div class="card-body p-0">
                                <img
                                    src="https://via.placeholder.com/300x300.png?text=Harta"
                                    alt="Harta"
                                    class="img-fluid w-100"
                                >
                            </div>
                            <div class="card-footer p-0">
                                <a
                                    href="{{ constituency.link }}"
                                    target="_blank"
                                    class="btn btn-link btn-sm btn-block mb-0"
                                >Detalii circumscripție</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h2 class="text-center mb-3">Top {{ election.candidates|length }} candidați</h2>
                        <div class="row mb-4 justify-content-around">
                            {% for candidate in election.candidates %}
                                <div class="col-4">
                                    <div class="card bg-light">
                                        <div class="card-header text-center">
                                            {{ candidate.politician.firstName }}
                                            {{ candidate.politician.lastName }}
                                        </div>
                                        <div class="card-body p-0">
                                            <img
                                                src="{{ macros.politician_photo_url(candidate.politician) }}"
                                                alt="Politician"
                                                class="img-fluid w-100"
                                            >
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="alert alert-light" role="alert">
                            <h6 class="alert-heading">Metodologia de selectare a candidaților</h6>
                            <p class="mb-0 small">
                                Et aliquid eaque non ea corporis consequuntur eligendi. Voluptatem voluptatem sint sit et.
                                Incidunt quae nesciunt atque omnis aliquam laboriosam. Et ut impedit qui. Repellendus sit vitae harum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col">
                        <h2 class="text-center mb-3">Top {{ election.problems|length }} probleme din circumscripție</h2>
                        <div class="row mb-4 justify-content-around">
                            {% for problem in election.problems %}
                                <div class="col-4">
                                    <div class="card bg-light">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ problem.problem.name }}</h5>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    {{ problem.respondents }} respondenți
                                                </small>
                                            </p>
                                            {% if election.problemOpinions[ problem.problem.id ] is defined %}
                                                <hr>
                                                <h6 class="text-secondary">Opinii</h6>
                                                {% for opinion in election.problemOpinions[ problem.problem.id ] %}
                                                    <p class="{{ loop.last ? "mb-0" : "mb-1" }}">
                                                        <strong>
                                                            {{ opinion.politician.firstName }}
                                                            {{ opinion.politician.lastName }}
                                                        </strong>:
                                                        {{ opinion.opinion }}
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="alert alert-light" role="alert">
                            <h6 class="alert-heading">Metodologia de chestionare a alegătorilor</h6>
                            <p class="mb-0 small">
                                Et aliquid eaque non ea corporis consequuntur eligendi. Voluptatem voluptatem sint sit et.
                                Incidunt quae nesciunt atque omnis aliquam laboriosam. Et ut impedit qui. Repellendus sit vitae harum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
