{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}Circumscripție{% endblock %}

{% set logoSize = '2rem' %}
{% set maxImgWidth = '20rem' %}

{% block main %}
    <div class="container-fluid px-0 bg-white">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container pb-4">
            <div class="row mb-3">
                <div class="col">
                    <h1>{{ constituency.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mb-3 mb-lg-0">
                    <div>
                        {% if constituency.hasMap() %}
                            <img
                                src="https://maps.googleapis.com/maps/api/staticmap?size=300x300&scale=2&center={{ constituency.map.lat }},{{ constituency.map.lng }}&markers=color:%23af2227%7Clabel:{{ constituency.number }}%7C{{ constituency.map.lat }},{{ constituency.map.lng }}&zoom=10&language={{ app.request.locale }}&key={{ google_maps_api_key }}"
                                alt="Map"
                                class="img-fluid w-100 rounded"
                                style="max-width: {{ maxImgWidth }};"
                            >
                        {% endif %}
                    </div>
                    <div class="mt-3">
                        <a
                            href="{{ constituency.link }}"
                            target="_blank"
                            class="btn btn-primary mb-0 d-inline-block d-lg-block"
                        >Detalii circumscripție</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <h6 class="mb-3 text-secondary">
                        {{ election.election.name }}
                        {{ "text.from"|trans }}
                        {{ election.election.date|date }}
                    </h6>
                    <h3 class="mb-3">{{ "title.candidates_with_most_chances"|trans }}<small class="text-muted">*</small></h3>
                    <div class="row">
                        {% for candidate in election.candidates %}
                            {% set isElected = mandate and mandate.politician.id == candidate.politician.id %}
                            <div class="col-sm-6 col-lg-4">
                                <div
                                    class="card mb-3 {{ isElected ? "elected" : "" }}"
                                    style="max-width: {{ maxImgWidth }};"
                                >
                                    <div class="position-relative">
                                        <img
                                            src="{{ macros.politician_photo_url(candidate.politician) }}"
                                            alt="Politician"
                                            class="img-fluid w-100 card-img-top"
                                        >
                                        {% if isElected %}
                                            <div class="elected-label bg-success text-white py-1 text-center rounded">
                                                <h6 class="mb-0">
                                                    <span class="fa fa-vote-yea"></span>
                                                    <span class="mx-1">{{ "text.elected"|trans }}</span>
                                                    {{ mandate.institutionTitle.title.name }}
                                                </h6>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-body px-2 pt-3 pb-1">
                                        <h6 class="card-title text-center">
                                            <a href="{{ path("politician", {slug: candidate.politician.slug}) }}">
                                                {{ candidate.politician.firstName }}
                                                {{ candidate.politician.lastName }}
                                            </a>
                                        </h6>
                                        {% if candidate.party %}
                                            <div class="row align-items-center">
                                                <div class="col-auto pr-2">
                                                    <div style="width: {{ logoSize }};">
                                                        <img
                                                            src="{{ macros.party_logo_url(candidate.party) }}"
                                                            alt="Partid"
                                                            class="img-rounded"
                                                            style="max-height: {{ logoSize }}; max-width: {{ logoSize }};"
                                                        >
                                                    </div>
                                                </div>
                                                <small class="col pl-0">
                                                    {{ candidate.party.name }}
                                                </small>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="alert alert-dark text-muted" role="alert">
                        <h6 class="alert-heading">{{ "title.candidates_metodology"|trans }}</h6>
                        <p class="mb-0 small">
                            Platforma deFacto.md monitorizează și prezintă programele electorale ale candidaților uninominali
                            cu cele mai mari șanse de a câștiga la alegerile din {{ election.election.date|date }}.
                            Lista restrânsă a candidaților a fost întocmită în baza unei analize extinse,
                            în care au fost luați în calcul următorii factori: rezultatele din alegerile locale 2015 și parlamentare 2014,
                            cele mai recente sondaje, precum și opiniile experților locali.
                            Orice sugestie în privința listei restrânse a candidaților poate fi expediată la adresa:
                            <a href='mail&#116;o&#58;&#100;efa&#99;&#37;74o%2E&#109;old%&#54;F&#37;76a&#64;g&#109;ail&#46;co&#109;'>de&#102;acto&#46;&#109;&#111;&#108;d&#111;va&#64;gmail&#46;&#99;om</a>
                        </p>
                    </div>
                </div>
            </div>
            {% if election.problems|default %}
                <div class="row mt-4">
                    <div class="col">
                        <h3 class="mb-3">{{ "title.constituency_problems"|trans }}</h3>
                        <div class="row">
                            {% for problem in election.problems %}
                                <div class="col-lg-6">
                                    <div class="card bg-danger mb-3">
                                        <div class="card-body text-white">
                                            <h5 class="card-title mb-1">{{ problem.problem.name }}</h5>
                                            <p class="card-text">
                                                {% if problem.type %}
                                                    <span class="badge badge-warning mr-3 mb-2 mb-lg-0">
                                                        {{ "title.problem"|trans }}
                                                        {{ ("label.problem_types." ~ problem.type)|trans|lower }}
                                                    </span>
                                                    <br class="d-lg-none">
                                                {% endif %}

                                                <span class="fa fa-male mr-1"></span>
                                                <small>
                                                    {% if problem.respondents %}
                                                        <samp class="font-weight-bold">{{ problem.respondents }}</samp>
                                                        {{ "text.respondents_n"|transchoice(problem.respondents) }}
                                                    {% endif %}
                                                    {% if problem.percentage %}
                                                        {% if problem.respondents %}
                                                            <span class="text-white-50 mx-2 d-none d-lg-inline">•</span>
                                                            <br class="d-lg-none">
                                                        {% endif %}
                                                        <samp class="font-weight-bold">{{ problem.percentage }}</samp>%
                                                        {{ "text.of_respondents"|trans }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        </div>
                                        {% if election.problemOpinions[ problem.problem.id ] is defined %}
                                            <div class="card-body bg-white rounded">
                                                <h5 class="text-success font-weight-bold">{{ "title.candidates_solutions"|trans }}</h5>
                                                {% for opinion in election.problemOpinions[ problem.problem.id ] %}
                                                    <p class="{{ loop.last ? "mb-0" : "mb-1" }}">
                                                        <a
                                                            href="{{ path("politician", {slug: opinion.politician.slug}) }}"
                                                            class="font-weight-bold"
                                                        >
                                                            {{- opinion.politician.firstName }} {{ opinion.politician.lastName -}}
                                                        </a>:
                                                        {{ opinion.opinion|nl2br }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="alert alert-dark text-muted" role="alert">
                            <h6 class="alert-heading">{{ "title.problems_metodology"|trans }}</h6>
                            <p class="mb-0 small">
                                Principalele probleme la nivel local și național au fost identificate în cadrul sondajului
                                <a href="https://5000.md/" target="_blank">5000 de moldoveni au spus</a>,
                                în cadrul căruia au fost chestionați peste 5 mii de cetățeni din circumscripțiile uninominale,
                                cu excepția regiunii transnistriene și a circumscripțiilor din afara țării.
                                Sondajul a fost organizat în cadrul proiectului <a href="https://avemcevotam.md/" target="_blank">Avem ce votăm</a>,
                                implementat de coaliția următoarelor organizații din Moldova:
                                deFacto,
                                Inițiativa Civică <a href="http://puneumarul.md/" target="_blank">„Pune Umărul”</a>,
                                Școala de Gândire Critică pentru Tineri <a href="http://www.challenger.md/" target="_blank">„Challenger”</a>,
                                Programul <a href="http://puneumarul.md/lansarea-programului-femei-cu-idei/">„Femei cu Idei”</a>.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
