{# @var \App\Entity\BlogPost[] latest_posts #}
{# @var \App\Repository\Vo\MandateStatisticsVo president_mandate #}
{# @var \App\Repository\Vo\ElectionDataVo current_election #}
{# @var \App\Entity\Mandate[] top_rank_mandates #}

{% extends 'app/base.html.twig' %}

{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.main'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .partner-logo {
            max-height: 6rem;
            max-width: 15rem;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="container-fluid px-0 bg-white">
            <div class="container">
                <div class="row bg-white justify-content-center">
                    <div class="col-12 col-lg-6">
                        {{ self_macros.top_ranked_mandates_block(
                            top_rank_mandates,
                            current_election ? current_election.election : null
                        ) }}
                    </div>
                    {% if current_election %}
                        <div class="col-12 col-lg-6">
                            {% include 'app/component/block/statistics/election.html.twig' with {
                                election: current_election.election,
                                mandates: current_election.mandates,
                                constituencies: current_election.constituencies
                            } only %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if president_mandate %}
            {% include 'app/component/section/statistics/mandate-votes-and-promises.html.twig' with {
                mandate: president_mandate.mandate,
                promise_statistics: president_mandate.promiseStatistics,
            } only %}
        {% endif %}
        <div class="bg-primary text-white text-center py-5">
            <h3 class="mb-3">
                <span class="fa fa-walking mr-2"></span>
                {{ "title.the_politicians_promise_actions"|trans }}
            </h3>
            <a
                href="{{ path('actions') }}"
                class="btn btn-outline-light"
            >{{ "action.view_the_list"|trans }}</a>
        </div>
        {% if latest_posts|length %}
            <noindex>
                {% include 'app/component/section/recent-blog-posts.html.twig' with {
                    posts: latest_posts
                } only %}
            </noindex>
        {% endif %}
        {% include 'app/component/section/about-us.html.twig' only %}
        <section class="container-fluid bg-white" itemscope itemtype="https://schema.org/Role">
            <div class="container py-5">
                <div class="row">
                    <div class="col text-center">
                        <h3 itemprop="roleName">{{ "title.partners"|trans }}</h3>
                        <div class="mt-3">
                            <a
                                href="https://avemcevotam.md/"
                                target="_blank"
                                itemprop="url"
                            ><img
                                src="{{ asset('img/partners/avem-ce-votam.png') }}"
                                class="d-inline-block partner-logo"
                                alt="avemcevotam.md"
                                ></a>
                            <div class="p-2 d-block d-lg-inline"></div>
                            <a
                                href="https://parereata.md/"
                                target="_blank"
                                itemprop="url"
                            ><img
                                src="{{ asset('img/partners/parereata.png') }}"
                                class="d-inline-block partner-logo"
                                alt="parereata.md"
                                ></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}

{% macro top_ranked_mandates_block(mandates, election) %}
    {# @var \App\Entity\Mandate[] mandates #}
    {# @var \App\Entity\Election election #}

    {% include 'app/component/after-header-space.html.twig' %}

    <h2 class="mb-3 text-center">{{ "title.top_responsible_deputies"|trans }}</h2>

    {% set current_rank = 1 %}

    <div class="list-group">
    {% for mandate in mandates %}
        {% if prev_mandate is defined and mandate.competenceUsesPoints < prev_mandate.competenceUsesPoints %}
            {% set current_rank = current_rank + 1 %}
        {% endif %}

        <a
            href="{{ path('mandate', {
                "electionSlug": mandate.election.slug,
                "politicianSlug": mandate.politician.slug
            }) }}"
            class="list-group-item list-group-item-action px-4 py-3"
        >
            <div class="row">
                <div class="col-md-auto mb-1 mb-md-0 text-center">
                    <div>
                        <div class="d-inline-block px-3 font-size-2 bg-primary text-white rounded">
                            <samp>{{ current_rank }}</samp>
                        </div>
                    </div>
                    <div class="text-primary mt-1">{{ "label.place"|trans|lower }}</div>
                </div>
                <div class="col-md text-center text-md-left">
                    <div class="h2">{{ mandate.politician.firstName }} {{ mandate.politician.lastName }}</div>
                    <div>
                        <strong class="text-info">{{ mandate.competenceUsesPoints }}</strong>
                        <span>{{ "label.points"|trans({"%count%": mandate.competenceUsesPoints})|lower }}</span>
                    </div>
                </div>
            </div>
        </a>

        {# @var \App\Entity\Mandate prev_mandate #}
        {% set prev_mandate = mandate %}
    {% endfor %}
    </div>

    {% if election %}
        <a
            href="{{ path('mandates', {"electionSlug": election.slug}) }}"
            class="btn btn-block btn-outline-info mt-3"
        >{{ "action.view_the_complete_list"|trans }}</a>
    {% endif %}
{% endmacro %}
