{# @var \App\Entity\BlogPost[] latest_posts #}
{# @var \App\Repository\Vo\MandateStatisticsVo president_mandate #}
{# @var \App\Repository\Vo\ElectionDataVo current_election #}
{# @var \App\Entity\Mandate[] top_rank_mandates #}

{% extends 'app/base.html.twig' %}

{% import 'macros.html.twig' as macros %}
{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern page-home{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.main'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <div class="container-fluid px-0 bg-light-pattern">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        {{ self_macros.top_ranked_mandates_block(
                            top_rank_mandates,
                            current_election ? current_election.election : null
                        ) }}
                    </div>
                    {% if current_election %}
                        <div class="col-12 col-lg-6">
                            {% include 'app/component/block/statistics/election.html.twig' with {
                                election: current_election.election,
                                constituencies: current_election.constituencies
                            } only %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if president_mandate %}
            <section>
                <h2 class="bg-primary text-white text-center pt-5 pb-3 mb-0">
                    <span class="fa fa-flag mr-3"></span>
                    {{ president_mandate.mandate.institutionTitle.title.name }}
                </h2>
                {% include 'app/component/section/statistics/mandate-votes-and-promises.html.twig' with {
                    mandate: president_mandate.mandate,
                    promise_statistics: president_mandate.promiseStatistics,
                    hide_title: true
                } only %}
            </section>
        {% endif %}
        <div class="bg-info text-white text-center py-5">
            <h3 class="mb-3">
                <span class="fa fa-walking mr-2"></span>
                {{ "title.the_politicians_promise_actions"|trans }}
            </h3>
            <a
                href="{{ path('actions') }}"
                class="btn btn-outline-light"
            >{{ "action.view_the_list"|trans }}</a>
        </div>
        {% if latest_posts|length %}
            <noindex>
                {% include 'app/component/section/recent-blog-posts.html.twig' with {
                    posts: latest_posts
                } only %}
            </noindex>
        {% endif %}
        {% include 'app/component/section/about-us.html.twig' only %}
        <section class="container-fluid bg-white py-5">
            <div class="row">
                <div class="col text-center">
                    <h2>
                        <span class="fa fa-handshake mr-3"></span>
                        {{- "" -}}
                        {{ "title.partners"|trans }}
                    </h2>
                    <div class="mt-3">
                        {% set partners = [
                            {
                                url: "https://avemcevotam.md/",
                                image: asset('img/partners/avem-ce-votam.png'),
                            },
                            {
                                url: "https://www.challenger.md/",
                                image: asset('img/partners/challenger.png'),
                            },
                            {
                                url: "https://parereata.md/",
                                image: asset('img/partners/parereata.png'),
                            }
                        ] %}
                        {% for partner in partners %}
                            <span class="mx-lg-3" itemscope itemtype="https://schema.org/WebSite">
                                <a
                                    itemprop="url"
                                    href="{{ partner.url }}"
                                    target="_blank"
                                >
                                    {{- "" -}}
                                    <img
                                        itemprop="thumbnailUrl"
                                        src="{{ partner.image }}"
                                        class="d-inline-block partner-logo"
                                        alt="{{ partner.url }}"
                                    >
                                    {{- "" -}}
                                </a>
                            </span>
                            {% if not loop.last %}<div class="py-2 d-block d-lg-inline"></div>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}

{% macro top_ranked_mandates_block(mandates, election) %}
    {# @var \App\Entity\Mandate[] mandates #}
    {# @var \App\Entity\Election election #}

    {% include 'app/component/after-header-space.html.twig' %}

    <h2 class="mb-3 text-center">
        <span class="fa fa-medal mr-3"></span>
        {{- "" -}}
        {{ "title.top_responsible_deputies"|trans }}
    </h2>

    {% include "app/component/block/mandate/rank-list.html.twig" with {
        mandates: mandates
    } only %}

    {% if election %}
        <a
            href="{{ path('mandates', {"electionSlug": election.slug}) }}"
            class="btn btn-block btn-warning mt-3"
        >{{ "action.view_the_complete_list"|trans }}</a>
    {% endif %}
{% endmacro %}
