{# @var \Knp\Bundle\PaginatorBundle\Pagination\SlidingPagination mandates #}
{# @var \App\Entity\Election election #}
{# @var int first_mandate_rank #}

{% extends 'app/base.html.twig' %}
{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{# todo: title #}

{% block html_class %}bg-dark-pattern page-mandates{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <div class="container-fluid bg-info text-center text-white py-4">
            <div class="row">
                <div class="col">
                    <h1>{{ election.theElectedName }}</h1>
                    <h2 class="h4 mb-0">{{ "title.the_points_of_used_competences"|trans }}</h2>
                </div>
            </div>
        </div>
        <div class="my-4 bg-dark-pattern">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="d-inline-block">
                        <div class="list-group list-group-flush">
                            {% set current_rank = first_mandate_rank %}
                            {% for mandate in mandates %}{# @var \App\Entity\Mandate mandate #}
                                {% if prev_mandate is defined
                                    and mandate.competenceUsesPoints < prev_mandate.competenceUsesPoints %}
                                    {% set current_rank = current_rank + 1 %}
                                {% endif %}

                                <div class="list-group-item pt-4{% if loop.first %} rounded-top{% endif %}{% if loop.last %} rounded-bottom{% endif %}">
                                    <div class="row">
                                        <div class="col-12 col-md-auto mb-3 mb-md-0">
                                            <div class="square bg-dark text-white rounded-circle place-square">
                                                <div class="content d-flex text-center align-items-center justify-content-center">
                                                    <div>
                                                        <div class="pt-4 text-warning">
                                                            <sub>{{ "label.the_place"|trans }}</sub>
                                                        </div>
                                                        <div class="font-size-3">
                                                            <sup>{{ current_rank}}</sup>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md">
                                            <h3 class="d-flex align-items-center">
                                                <img
                                                    src="{{ macros.politician_photo_url(mandate.politician) }}"
                                                    alt="{{ mandate.politician.firstName ~ " " ~ mandate.politician.lastName }}"
                                                    class="d-inline-block rounded-circle mr-2 politician-photo"
                                                >
                                                <span class="px-1"></span>
                                                <a
                                                    href="{{ path('mandate', {
                                                        "electionSlug": mandate.election.slug,
                                                        "politicianSlug": mandate.politician.slug,
                                                    }) }}"
                                                >{{ mandate.politician.firstName }} {{ mandate.politician.lastName }}</a>
                                            </h3>
                                            <div>
                                                <big>
                                                    <big>
                                                        <big>
                                                            <strong class="mr-1 text-info">{{ mandate.competenceUsesPoints }}</strong>
                                                        </big>
                                                    </big>
                                                    <sup>
                                                        {{ "text.points"|trans({"%count%": mandate.competenceUsesPoints}) }}
                                                    </sup>
                                                </big>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {# @var \App\Entity\Mandate prev_mandate #}
                                {% set prev_mandate = mandate %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if mandates.getPaginationData()['pageCount'] > 1 %}
            <div class="container-fluid bg-light-pattern">
                <footer class="row py-4">
                    <div class="col text-center">
                        <div class="d-inline-block pagination-wrapper">
                            {{ knp_pagination_render(mandates) }}
                        </div>
                    </div>
                </footer>
            </div>
        {% else %}
            <div class="py-3"></div>
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
