{# @var \App\Entity\Mandate mandate #}
{# @var int rank #}

{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern page-mandate{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}
    {{ mandate.politician.firstName }} {{ mandate.politician.lastName }}
    • {{ mandate.institutionTitle.title.name }}
    • {{ mandate.beginDate|date }} - {{ (mandate.ceasingDate ? mandate.ceasingDate : mandate.endDate)|date }}
{% endblock %}
{% block head_meta_og_image %}{{ app.request.getSchemeAndHttpHost ~ macros.politician_photo_url(mandate.politician) }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <link rel="canonical" href="{{ url('mandate', {
        'electionSlug': mandate.election.slug, 'politicianSlug': mandate.politician.slug
    }) }}" />
    <meta name="description" content="{{ 'meta_description.mandate'|trans }}">
{% endblock %}

{% block main %}
    <main>
        <section>
            {% include "app/component/section/statistics/mandate-points.html.twig" with {
                politician: mandate.politician,
                mandate: mandate,
                rank: rank,
                is_mandate_page: true
            } only %}
        </section>
        {% if mandate.competenceCategoryStats|length %}
            {{ self_macros.category_stats_section(mandate) }}
            {{ self_macros.competence_use_list_section(mandate) }}
        {% else %}
            <div class="bg-secondary py-5 text-center">
                <h3 class="mb-0">
                    {{ "title.no_used_competences_found"|trans }}
                </h3>
            </div>
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if mandate.competenceCategoryStats|length > 1 %}
        <script src="{{ asset('js/canvasjs.min.js') }}"></script>
        <script>
            window.onload = function () {
                var wrap = document.getElementById("categories-pie-chart");
                if (!wrap) {
                    return;
                }

                var chart = new CanvasJS.Chart(wrap, {
                    theme: "dark1",
                    backgroundColor: "transparent",
                    toolTip:{
                        enabled: false,
                    },
                    data: [{
                        type: "pie",
                        indexLabelFontSize: 18,
                        radius: 80,
                        indexLabel: "{label} ❨{y}❩",
                        yValueFormatString: "###0.0",
                        dataPoints: JSON.parse(wrap.getAttribute('data-chart-items'))
                    }]
                });
                chart.render();
            };
        </script>
    {% endif %}
{% endblock %}

{% macro category_stats_section(mandate) %}
    {% set categoryStatsByParent = mandate.competenceCategoryStatsByParentCategory %}

    <div class="bg-primary pt-4 pb-2 text-center">
        <div class="container">
            <div class="row text-white mb-3">
                <div class="col">
                    <h2>{{ "title.points_by_category"|trans }}</h2>
                </div>
            </div>
            <div class="row">
                {% for categoryStats in categoryStatsByParent %}
                {# @var \App\Entity\MandateCompetenceCategoryStats categoryStats #}
                <div class="col-12 col-lg mb-4">
                    <div class="bg-light-pattern py-4 px-3 rounded">
                        <h3>{{ categoryStats.competenceCategory.nameWithParent }}</h3>
                        <p class="small text-muted mb-2">{{ categoryStats.competenceCategory.description }}</p>
                        <div class="font-size-2">
                            <strong class="text-info">{{ categoryStats.competenceUsesPoints }}</strong>
                            <small>{{ "text.points"|trans({"%count%": categoryStats.competenceUsesPoints}) }}</small>
                        </div>
                    </div>
                </div>

                {% if loop.index0 and not loop.index0 % 2 %}
            </div><div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if categoryStatsByParent|length > 1 %}
        {% set chart_items = [] %}
        {% for categoryStats in categoryStatsByParent %}
            {% set chart_items = chart_items|merge([{
                y: categoryStats.competenceUsesPoints,
                label: categoryStats.competenceCategory.nameWithParent
            }]) %}
        {% endfor %}

        <div class="bg-dark pt-4 pb-3">
            <h4 class="text-muted text-center mb-3">{{ "title.about_competence_use_categories"|trans }}</h4>
            <div
                id="categories-pie-chart"
                class="w-100"
                data-chart-items="{{ chart_items|json_encode }}"
            ></div>
        </div>
    {% endif %}
{% endmacro %}

{% macro competence_use_list_section(mandate) %}
    {% set emptyHtml = '<p>&nbsp;</p>' %}

    <div class="bg-light-pattern pt-4 pb-5">
        <div class="container">
            <div class="row text-center mb-3">
                <div class="col">
                    <h2>{{ "title.used_competences"|trans }}</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% for competenceUse in mandate.competenceUses %}
                        {# @var \App\Entity\CompetenceUse competenceUse #}

                        {% set final_points = competenceUse.competence.points * (
                            competenceUse.multiplied ? competence_use_multiplication_factor : 1) %}

                        {% if loop.first %}
                            <div class="alert alert-info text-center">
                                {{ "label.last_update"|trans }}
                                <samp class="font-weight-bold mx-1">{{ competenceUse.useDate|date }}</samp>
                                <span class="text-muted">({{ competenceUse.useDate|ago }})</span>
                            </div>
                        {% endif %}

                        <div class="card{% if not loop.last %} mb-4{% endif %}">
                            <div class="card-body pt-3">
                                <div class="row mb-3">
                                    <div class="col-auto pr-0">
                                        <span
                                            class="badge badge-primary align-middle"
                                            data-toggle="tooltip" data-placement="right"
                                            title="{{ competenceUse.useDate|ago }}"
                                        >
                                            {{ competenceUse.useDate|date }}
                                        </span>
                                    </div>
                                    <div class="col-12 col-lg order-last order-lg-0 mt-3 mt-lg-0">
                                        {{ competenceUse.competence.category.nameWithParent }}
                                    </div>
                                    <div class="col col-lg-auto pr-1 text-right d-flex align-items-center justify-content-end">
                                        {% if competenceUse.multiplied %}
                                            <div class="d-none d-sm-block mr-4">
                                                <span class="text-info">{{ competenceUse.competence.points }}</span>
                                                <span class="text-warning">
                                                    <span class="fa fa-times"></span>
                                                    <big class="font-weight-bold">{{ competence_use_multiplication_factor }}</big>
                                                </span>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <span class="text-info font-weight-bold font-size-2 line-height-0 align-middle">
                                                {{ final_points }}
                                            </span>
                                            {{ "text.points"|trans({"%count%": final_points}) }}
                                        </div>
                                        {{ self_macros.points_info_button(competenceUse.multiplied) }}
                                    </div>
                                </div>
                                <h6 class="mb-0 alert alert-info bg-light">
                                    <div class="text-info h6 mb-2">{{ "label.competence"|trans }}</div>
                                    <div class="text-body">{{ competenceUse.competence.name }}</div>
                                </h6>
                                {% if competenceUse.description and competenceUse.description != emptyHtml %}
                                    <div class="mt-3 raw-html">
                                        {{ competenceUse.description|raw }}
                                    </div>
                                {% endif %}
                                {% if competenceUse.sourceLink %}
                                    <div class="mt-3">
                                        <a
                                            href="{{ competenceUse.sourceLink }}"
                                            target="_blank"
                                            class="btn btn-sm btn-outline-info"
                                        >{{ "action.view_source"|trans }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro points_info_button(multiplied) %}
    {% set tooltip_content_points -%}
        {{ "text.points_meaning"|trans({'%methodology_link%': path('methodologies')})|nl2br }}
    {%- endset %}
    {% set tooltip_content_doubled_points -%}
        {{ "text.points_meaning"|trans({'%methodology_link%': path('methodologies')})|nl2br }}
        {{ "<hr>" }}
        {{ "text.competence_multiplication_meaning"|trans }}
    {%- endset %}
    {% set popover_template -%}
        <div class="popover big-popover"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>
    {%- endset %}

    <sup class="ml-3">
        <button
            type="button"
            class="btn btn-sm btn-light border-info text-info rounded py-0"
            data-toggle="popover"
            data-trigger="focus"
            data-html="true"
            data-template="{{ popover_template|escape('html_attr') }}"
            data-content="{{ multiplied|default(false) ? tooltip_content_doubled_points : tooltip_content_points }}"
        ><span class="fa fa-info"></span></button>
    </sup>
{% endmacro %}

