{# @var \Knp\Bundle\PaginatorBundle\Pagination\SlidingPagination mandates #}
{# @var \App\Entity\Election election #}
{# @var int first_mandate_rank #}

{% extends 'app/base.html.twig' %}
{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern page-mandates{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ election.theElectedName }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <div class="container-fluid bg-info text-center text-white py-4">
            <div class="row">
                <div class="col">
                    <h1>{{ election.theElectedName }}</h1>
                    <h2 class="h4 mb-0">{{ "title.the_points_of_used_competences"|trans }}</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="py-3 bg-dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">{{ "text.top_mandates_meaning"|trans({'%methodology_link%': path('methodologies')})|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4 bg-light-pattern">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        {% include "app/component/block/mandate/rank-list.html.twig" with {
                            mandates: mandates,
                            begin_rank: first_mandate_rank
                        } only %}
                    </div>
                </div>
            </div>
            {% if mandates.getPaginationData()['pageCount'] > 1 %}
                <footer class="container-fluid py-4">
                    <div class="row">
                        <div class="col text-center">
                            <div class="d-inline-block pagination-wrapper">
                                {{ knp_pagination_render(mandates) }}
                            </div>
                        </div>
                    </div>
                </footer>
            {% else %}
                <div class="py-3"></div>
            {% endif %}
        </div>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}
