{# @var \App\Entity\Mandate mandate #}
{# @var int rank #}
{# @var array categoryStatsByParent #}
{# @var array statsByMonth #}
{# @var array competenceUses #}
{# @var \App\Filter\MandateFilter filter #}
{# @var \Symfony\Component\Form\FormInterface filterForm #}

{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern page-mandate{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}
    {{ mandate.politician.firstName }} {{ mandate.politician.lastName }}
    • {{ mandate.politician.female ? mandate.institutionTitle.title.nameFemale : mandate.institutionTitle.title.name }}
    • {{ mandate.beginDate|date }} - {{ (mandate.ceasingDate ? mandate.ceasingDate : mandate.endDate)|date }}
{% endblock %}
{% block head_meta_og_image %}{{ app.request.getSchemeAndHttpHost ~ macros.politician_photo_url(mandate.politician) }}{% endblock %}

{% set canonical_url = url('mandate', {
    'electionSlug': mandate.election.slug, 'politicianSlug': mandate.politician.slug
}) %}

{% set lastUpdateTime = mandate.competenceUses|length
    ? (
        (mandate.competenceUsesUpdateTime and mandate.competenceUsesUpdateTime > mandate.competenceUses[0].useDate)
        ? mandate.competenceUsesUpdateTime
        : mandate.competenceUses[0].useDate
    )
    : null
%}
{% set lastUpdateTime = lastUpdateTime <= date("today") ? lastUpdateTime : date("today") %}

{% block head_meta %}
    {{ parent() }}
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="description" content="{{ 'meta_description.mandate'|trans }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app/pages/mandate/styles.css') }}">
{% endblock %}

{% block main %}
    <main>
        <section>
            {% include "app/component/section/statistics/mandate-points.html.twig" with {
                politician: mandate.politician,
                mandate: mandate,
                rank: rank,
                is_mandate_page: true
            } only %}
        </section>
        <div class="position-relative{%
            if filter.empty %} bg-light{%
            else %} pb-5 px-lg-4 bg-warning{% endif
        %}">
            <div class="position-relative"><div id="filters" class="anchor"></div></div>
            {{ self_macros.filter_form(filter, filterForm) }}
            <div class="filters-inner{% if not filter.empty %} rounded overflow-auto{% endif %}">
                <div class="position-relative"><div id="details" class="anchor"></div></div>
                {% if mandate.competenceCategoryStats|length %}
                    {{ self_macros.category_stats_section(mandate, categoryStatsByParent, filter) }}
                {% endif %}
                {% if competenceUses|length %}
                    {{ self_macros.competence_use_list_section(
                        mandate,
                        canonical_url,
                        statsByMonth,
                        lastUpdateTime,
                        competenceUses,
                        filter
                    ) }}
                {% else %}
                    <div class="bg-secondary py-5 text-center">
                        <h3 class="mb-0">
                            {{ "title.no_used_competences_found"|trans }}
                        </h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}

    <div
        id="mandate-politician"
        itemscope
        itemtype="https://schema.org/Person"
        itemid="{{ path('politician', {'slug': mandate.politician.slug}) }}"
    >
        <meta itemprop="givenName" content="{{ mandate.politician.firstName }}">
        <meta itemprop="familyName" content="{{ mandate.politician.lastName }}">
        <div
            itemprop="hasOccupation"
            itemscope
            itemtype="https://schema.org/Role"
        >
            <meta
                itemprop="startDate"
                content="{{ mandate.beginDate|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
            >
            <meta
                itemprop="endDate"
                content="{{ mandate.endDate|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
            >
            <meta
                itemprop="roleName"
                content="{{ mandate.politician.female
                ? mandate.institutionTitle.title.nameFemale
                : mandate.institutionTitle.title.name
                }}"
            >
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app/pages/mandate/scripts.js') }}"></script>

    {% if mandate.competenceCategoryStats|length > 1 %}
        <script src="{{ asset('js/canvasjs.min.js') }}"></script>
        <script>
            window.onload = function () {
                var wrap = document.getElementById("categories-pie-chart");
                if (!wrap) {
                    return;
                }

                var chart = new CanvasJS.Chart(wrap, {
                    theme: "dark1",
                    backgroundColor: "transparent",
                    toolTip:{
                        enabled: false,
                    },
                    data: [{
                        type: "pie",
                        indexLabelFontSize: 18,
                        radius: 80,
                        indexLabel: "{label} ❨{y}❩",
                        yValueFormatString: "###0.0",
                        dataPoints: JSON.parse(wrap.getAttribute('data-chart-items'))
                    }]
                });
                chart.render();
            };
        </script>
    {% endif %}
{% endblock %}

{% macro category_stats_section(mandate, categoryStatsByParent, filter) %}
    <div class="bg-primary pt-4 pb-2 text-center">
        <div class="container">
            <div class="row text-white mb-3">
                <div class="col">
                    <h2>{{ "title.points_by_category"|trans }}</h2>
                </div>
            </div>
            <div class="row">
                {% for categoryStats in categoryStatsByParent %}
                    {# @var \App\Entity\MandateCompetenceCategoryStats categoryStats #}
                    <div
                        class="col-12 col-lg mb-4{%
                            if not filter.empty and categoryStats.competenceCategory.id not in filter.categories|keys
                        %} opacity-05{%
                            endif
                        %}"
                        itemscope
                        itemtype="https://schema.org/Class"
                        itemid="competence-category-{{ categoryStats.competenceCategory.slug }}"
                    >
                        <div class="bg-light-pattern py-4 px-3 rounded">
                            <h3 itemprop="name">{{ categoryStats.competenceCategory.nameWithParent }}</h3>
                            <p
                                class="small text-muted mb-2"
                                itemprop="description"
                            >{{ categoryStats.competenceCategory.description }}</p>
                            <div class="font-size-2">
                                <strong class="text-info">{{ categoryStats.competenceUsesPoints }}</strong>
                                <small>{{ "text.points"|trans({"%count%": categoryStats.competenceUsesPoints}) }}</small>
                                <span class="ml-2">
                                    {{ self_macros.points_info_button() }}
                                </span>
                            </div>
                        </div>
                    </div>

                    {% if loop.index0 and not loop.index0 % 2 %}
                </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% set statsForChart = categoryStatsByParent|filter(c => c.competenceUsesPoints > 0) %}
    {% if statsForChart|length > 1 %}
        {% set chart_items = [] %}
        {% for categoryStats in statsForChart %}
            {% set chart_items = chart_items|merge([{
                y: categoryStats.competenceUsesPoints,
                label: categoryStats.competenceCategory.nameWithParent
            }]) %}
        {% endfor %}

        <div class="bg-dark pt-4 pb-3">
            <h4 class="text-muted text-center mb-3">{{ "title.about_competence_use_categories"|trans }}</h4>
            <div
                id="categories-pie-chart"
                class="w-100"
                data-chart-items="{{ chart_items|json_encode }}"
            ></div>
        </div>
    {% endif %}
{% endmacro %}

{% macro competence_use_list_section(mandate, canonical_url, statsByMonth, lastUpdateTime, competenceUses, filter) %}
    {% import _self as self_macros %}

    {% set emptyHtml = '<p>&nbsp;</p>' %}

    <div class="bg-light-pattern pt-4 pb-5">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="mb-3">{{ "title.used_competences"|trans }}</h2>
                </div>
            </div>
        </div>
        {% if filter.empty %}
            <noindex>{{ self_macros.competence_use_stats_section(statsByMonth) }}</noindex>
        {% endif %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% for competenceUse in competenceUses %}
                        {# @var \App\Entity\CompetenceUse competenceUse #}

                        {% set final_points = competenceUse.competence.points * (
                            competenceUse.multiplied ? competence_use_multiplication_factor : 1) %}

                        {% if loop.first %}
                            <div class="small text-center mb-3">
                                <span class="fa fa-search text-primary mr-1"></span>
                                {{ "label.last_update"|trans }}
                                <samp class="font-weight-bold ml-1">{{ lastUpdateTime|date }}</samp>
                            </div>
                        {% endif %}

                        <div
                            class="card{% if not loop.last %} mb-4{% endif %}"
                            itemscope
                            itemtype="https://schema.org/AchieveAction"
                            itemid="{{ canonical_url }}#competence-use-{{ competenceUse.id }}"
                        >
                            <link itemprop="agent" href="{{ path('politician', {'slug': mandate.politician.slug}) }}">
                            <div
                                itemprop="result"
                                itemscope
                                itemtype="https://schema.org/PropertyValue"
                            >
                                <meta
                                    itemprop="name"
                                    content="{{ competenceUse.competence.points }} {{ "text.points"|trans({"%count%": final_points}) }}"
                                >
                                <meta itemprop="unitText" content="point">
                                <meta itemprop="value" content="{{ competenceUse.competence.points }}">
                            </div>

                            <div class="card-body pt-3">
                                <div class="row mb-3">
                                    <div class="col-auto pr-0">
                                        <time
                                            datetime="{{ competenceUse.useDate|date(constant('App\\Consts::TWIG_SCHEMA_DATE_FORMAT')) }}"
                                            itemprop="startTime"
                                            class="badge badge-primary align-middle"
                                            data-toggle="tooltip" data-placement="right"
                                            title="{{ competenceUse.useDate|ago }}"
                                        >
                                            {{ competenceUse.useDate|date }}
                                        </time>
                                    </div>
                                    <div class="col-12 col-lg order-last order-lg-0 mt-3 mt-lg-0" itemprop="object">
                                        {{ competenceUse.competence.category.nameWithParent }}
                                    </div>
                                    <div class="col col-lg-auto pr-1 text-right d-flex align-items-center justify-content-end">
                                        {% if competenceUse.multiplied %}
                                            <div class="d-none d-sm-block mr-4">
                                                <span class="text-info">{{ competenceUse.competence.points }}</span>
                                                <span class="text-warning">
                                                    <span class="fa fa-times"></span>
                                                    <big class="font-weight-bold">{{ competence_use_multiplication_factor }}</big>
                                                </span>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <span class="text-info font-weight-bold font-size-2 line-height-0 align-middle">
                                                {{ final_points }}
                                            </span>
                                            {{ "text.points"|trans({"%count%": final_points}) }}
                                        </div>
                                        <div class="ml-3">
                                            {{ self_macros.points_info_button(competenceUse.multiplied) }}
                                        </div>
                                    </div>
                                </div>
                                <h6
                                    class="mb-0 alert alert-success"
                                    itemprop="instrument"
                                    itemscope
                                    itemtype="https://schema.org/Action"
                                >
                                    <div
                                        class="text-warning-darker h6 mb-2"
                                        itemprop="name"
                                    >{{ "label.competence"|trans }}</div>
                                    <div
                                        class="text-body"
                                        itemprop="description"
                                    >{{ competenceUse.competence.name }}</div>
                                </h6>
                                {% if competenceUse.description and competenceUse.description != emptyHtml %}
                                    <div class="mt-3 raw-html" itemprop="description">
                                        {{ competenceUse.description|raw }}
                                    </div>
                                {% endif %}
                                {% if competenceUse.sourceLink %}
                                    <div class="mt-3">
                                        <a
                                            href="{{ competenceUse.sourceLink }}"
                                            target="_blank"
                                            class="btn btn-sm btn-outline-info"
                                            itemprop="url"
                                        >{{ "action.view_source"|trans }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro points_info_button(multiplied) %}
    {% set tooltip_content_points -%}
        {{ "text.points_meaning"|trans({'%methodology_link%': path('methodologies')})|nl2br }}
    {%- endset %}
    {% set tooltip_content_doubled_points -%}
        {{ "text.points_meaning"|trans({'%methodology_link%': path('methodologies')})|nl2br }}
        {{ "<hr>" }}
        {{ "text.competence_multiplication_meaning"|trans }}
    {%- endset %}
    {% set popover_template -%}
        <div class="popover big-popover"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>
    {%- endset %}

    <sup>
        <button
            type="button"
            class="btn btn-sm btn-light border-info text-info rounded py-0"
            data-toggle="popover"
            data-trigger="focus"
            data-html="true"
            data-template="{{ popover_template|escape('html_attr') }}"
            data-content="{{ multiplied|default(false) ? tooltip_content_doubled_points : tooltip_content_points }}"
        ><span class="fa fa-info"></span></button>
    </sup>
{% endmacro %}

{% macro competence_use_stats_section(statsByMonth) %}
    <div class="container-fluid mb-3 bg-white">
        <div class="row">
            <div class="col px-0">
                {% set maxUseCount = 0 %}
                {% for useCount in statsByMonth %}
                    {% set maxUseCount = max(maxUseCount, useCount) %}
                {% endfor %}

                <div id="used-competences-by-month" class="overflow-auto text-center py-3 px-4">
                    {% for month, useCount in statsByMonth %}
                        {% set height = useCount ? max(100 / maxUseCount * useCount, 7) : 0 %}

                        <div
                            class="d-inline-flex flex-column h-100{%
                                if not loop.last %} mr-3 mr-sm-4 mr-md-5 {% endif
                            %}"
                        >
                            <div class="flex-grow-1 position-relative chart-bar-count">
                                <div
                                    class="position-absolute w-100 {%
                                        if useCount %}text-success{% else %}text-muted opacity-05{% endif
                                    %}"
                                >{{ useCount }}</div>
                                <div
                                    class="bg-success rounded w-100 position-absolute overflow-hidden"
                                    style="height: {{ height }}%;"
                                >
                                    <div class="position-absolute w-100 text-white">{{ useCount }}</div>
                                </div>
                            </div>
                            <div class="pt-1"><samp>{{ month }}</samp></div>
                        </div>
                    {% endfor %}
                </div>
                <script>document.getElementById('used-competences-by-month').scrollLeft = 1000000;</script>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro filter_form(filter, filterForm) %}
    <nav class="filter-navbar navbar navbar-light navbar-expand-lg small{%
        if filter.empty %} bg-light{%
        else %} bg-warning sticky-top{% endif
    %}">
        <div class="flex-grow-1 flex-lg-grow-0 d-lg-inline-block mx-lg-auto">
            <div class="container">
                <span class="navbar-brand mr-4">{{ "title.filters"|trans }}</span>
                {% if not filter.empty %}
                    <span class="flex-grow-1 flex-lg-grow-0 d-lg-none">
                        <a
                            class="btn-sm btn-link"
                            href="?#filters"
                        >{{ "action.reset"|trans }}</a>
                    </span>
                {% endif %}
                <button
                    class="navbar-toggler text-white"
                    type="button"
                    data-toggle="collapse"
                    data-target="#filters-nav-content"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="filters-nav-content">
                    {{ form_start(filterForm, {
                        'attr': {'class': 'my-2 my-lg-0 d-lg-flex align-items-center', 'action': '#filters'}
                    }) }}
                    <div class="d-lg-inline-block">
                        <div class="form-inline">
                            {{ form_widget(filterForm.category, {'attr': {'class': 'form-control-sm'}}) }}
                        </div>
                    </div>
                    <div class="d-lg-inline-block mt-3 mt-lg-0">
                        <button
                            class="btn btn-sm ml-lg-4 btn-outline-primary"
                            type="submit"
                        >{{ "action.apply"|trans }}</button>
                        {% if not filter.empty %}
                            <a
                                class="btn btn-sm btn-link ml-3 d-none d-lg-inline"
                                href="?#filters"
                            >{{ "action.reset"|trans }}</a>
                        {% endif %}
                    </div>
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>
    </nav>
{% endmacro %}
