{# @var \Knp\Bundle\PaginatorBundle\Pagination\SlidingPagination mandates #}
{# @var \App\Entity\Election election #}
{# @var int first_mandate_rank #}

{% extends 'app/base.html.twig' %}
{% import 'app/macros.html.twig' as app_macros %}
{% import 'macros.html.twig' as macros %}

{# todo: title #}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% set place_width = '5rem' %}
{% set photo_width = '3rem' %}

{% block main %}
    <main>
        <div class="container-fluid bg-light-pattern text-center pt-5 pb-3">
            <div class="row">
                <div class="col">
                    <h1>{{ "title.the_points_of_the_politicians"|trans }}</h1>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="d-inline-block">
                    <div class="list-group list-group-flush">
                        {% set current_rank = first_mandate_rank %}
                        {% for mandate in mandates %}{# @var \App\Entity\Mandate mandate #}
                            {% if prev_mandate is defined
                                and mandate.competenceUsesPoints < prev_mandate.competenceUsesPoints %}
                                {% set current_rank = current_rank + 1 %}
                            {% endif %}

                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-auto">
                                        <div
                                            class="square bg-dark text-white rounded-circle"
                                            style="width: {{ place_width }};"
                                        >
                                            <div class="content d-flex text-center align-items-center justify-content-center">
                                                <div>
                                                    <div class="pt-4 text-warning">
                                                        <sub>{{ "label.the_place"|trans }}</sub>
                                                    </div>
                                                    <div class="font-size-3">
                                                        <sup>{{ current_rank}}</sup>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <h3 class="d-flex align-items-center">
                                            <img
                                                src="{{ macros.politician_photo_url(mandate.politician) }}"
                                                alt="{{ mandate.politician.firstName ~ " " ~ mandate.politician.lastName }}"
                                                class="d-inline-block rounded-circle ml-3 mr-2"
                                                style="max-width: {{ photo_width }};"
                                            >
                                            <span class="px-1"></span>
                                            <a
                                                href="{{ path('politician', {"slug": mandate.politician.slug}) }}"
                                            >{{ mandate.politician.firstName }} {{ mandate.politician.lastName }}</a>
                                        </h3>
                                        <div>
                                            <big>
                                                <big>
                                                    <big>
                                                        <strong class="mr-1 text-info">{{ mandate.competenceUsesPoints }}</strong>
                                                    </big>
                                                </big>
                                                <sup>
                                                    {{ "text.points"|trans({"%count%": mandate.competenceUsesPoints}) }}
                                                </sup>
                                            </big>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# @var \App\Entity\Mandate prev_mandate #}
                            {% set prev_mandate = mandate %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if mandates.getPaginationData()['pageCount'] > 1 %}
                <footer class="row mt-4 mb-5">
                    <div class="col text-center">
                        <div class="d-inline-block pagination-wrapper">
                            {{ knp_pagination_render(mandates) }}
                        </div>
                    </div>
                </footer>
            {% endif %}
        </div>
    </main>
    <div class="bg-dark-pattern py-5">
        {% include 'app/component/section/footer.html.twig' only %}
    </div>
{% endblock %}
