{# @var \App\Entity\Politician politician #}
{# @var \App\Entity\Mandate[] mandates_by_election #}
{# @var \App\Entity\Promise[] promises_by_election #}
{# @var array last_valid_mandate Optional #}

{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ politician.firstName }} {{ politician.lastName }} • {{ "title.politician"|trans }}{% endblock %}
{% block head_meta_og_image %}{{ app.request.getSchemeAndHttpHost ~ macros.politician_photo_url(politician) }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.politician'|trans }}">
{% endblock %}

{% set logoSize = '2rem' %}
{% set emptyHtml = '<p>&nbsp;</p>' %}
{% set detailClasses = {
    row: "row mb-3",
    colLabel: "col-lg-3",
    colContent: "col-lg-9",
} %}

{% block main %}
    <main>
        <section
            itemscope
            itemtype="https://schema.org/Person"
            itemid="{{ path('politician', {slug: politician.slug}) }}"
        >
            {% include "app/component/section/politician-mandate-points.html.twig" with {
                politician: politician,
                mandate: last_valid_mandate ? last_valid_mandate.mandate : null,
                rank: last_valid_mandate ? last_valid_mandate.competencePointsRank : null
            } only %}

            {% set politician_bio %}
                {{ self_macros.politician_bio(politician, detailClasses, emptyHtml) }}
            {% endset %}
            {% if politician_bio|trim|length %}
                <div class="container-fluid px-0 py-5 bg-white">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                {{ politician_bio }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
        {% if politician.sortedCandidates|length %}
        <div class="container-fluid px-0 bg-light-pattern">
            <div class="bg-primary py-3">
                <div class="container">
                    <h2 class="mb-0 text-lg-center text-white">
                        {{ "title.participation_in_elections"|trans }}
                    </h2>
                </div>
            </div>
            <div class="container py-5">
                {% for candidate in politician.sortedCandidates %}
                    {% set mandate = mandates_by_election[candidate.election.id]|default(null) %}
                    {% set promises = promises_by_election[candidate.election.id]|default([]) %}
                    {% set color_name = mandate ? (mandate.ceasingDate ? "dark" : "success") : "info" %}

                    <section
                        itemscope
                        itemtype="https://schema.org/{{ (mandate and not mandate.ceasingDate) ? "WinAction" : "VoteAction" }}"
                    >
                        <link
                            itemprop="{{ mandate ? "agent" : "candidate" }}"
                            href="{{ path('politician', {slug: politician.slug}) }}"
                        >
                        <meta itemprop="endTime" content="{{ candidate.election.date|date('Y-m-d') }}">

                        <div class="card bg-{{ color_name }} border-{{ color_name }} {% if not loop.last %}mb-4{% endif %}">
                            <h5 class="card-header text-white clearfix">
                                {% if mandate %}
                                    <div class="row align-items-center">
                                        <div class="col-12 col-lg">
                                            <span class="fa fa-vote-yea mr-2"></span>

                                            <a
                                                href="{{ path('mandate', {"electionSlug": mandate.election.slug, "politicianSlug": mandate.politician.slug}) }}"
                                                class="text-white"
                                            >
                                                {{- "" -}}
                                                {{ "title.elected"|trans }}
                                                <span itemprop="name">
                                                    {{ mandate.institutionTitle.title.name }}
                                                    {{ "text.in_elections_from"|trans }}
                                                    {{ candidate.election.date|date }}
                                                </span>
                                                {{- "" -}}
                                            </a>
                                        </div>
                                        <div class="col-12 col-lg-auto">
                                            {% if mandate.decisionLink %}
                                                <a
                                                    href="{{ mandate.decisionLink }}"
                                                    target="_blank"
                                                    class="btn btn-sm btn-outline-light float-right"
                                                    itemprop="url"
                                                    content="{{ mandate.decisionLink }}"
                                                >{{ "action.view_decision"|trans }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <span class="fa fa-child mr-2"></span>

                                    {{ "title.candidate_in"|trans }}
                                    <span itemprop="name">
                                        {{ candidate.election.name|lower }}
                                        {{ "text.from"|trans }}
                                        {{ candidate.election.date|date }}
                                    </span>
                                {% endif %}
                            </h5>
                            {% if mandate and mandate.ceasingDate %}
                                <h5 class="card-header text-white clearfix">
                                    <span class="fa fa-user-times mr-2"></span>

                                    {{ "text.mandate_ceased_on"|trans({'%date%': mandate.ceasingDate|date})|capitalize }}

                                    {% if mandate.ceasingLink %}
                                        <a
                                            href="{{ mandate.ceasingLink }}"
                                            target="_blank"
                                            class="btn btn-sm btn-outline-light float-right"
                                            itemprop="url"
                                            content="{{ mandate.ceasingLink }}"
                                        >{{ "action.view_decision"|trans }}</a>
                                    {% endif %}

                                    {% if mandate.ceasingReason %}
                                        <em class="small ml-1">({{ "label.the_reason"|trans }}: {{ mandate.ceasingReason }})</em>
                                    {% endif %}
                                </h5>
                            {% endif %}
                            <div class="card-body bg-white rounded">
                                {% if promises|length %}
                                    <div class="row mb-4">
                                        <div class="col">
                                            <a
                                                class="btn btn-lg btn-outline-primary"
                                                href="{{ path("promises", {
                                                    'politicianSlug': candidate.politician.slug,
                                                    'electionSlug': candidate.election.slug
                                                }) }}"
                                            >
                                                <span class="fa fa-bullhorn mr-2"></span>
                                                <span>{{ "text.view_promises_count"|trans({'%count%': promises|length}) }}</span>
                                            </a>
                                            {% if mandate %}
                                                <a
                                                    class="btn btn-lg btn-outline-info ml-3"
                                                    href="{{ path("actions", {
                                                        'politicianSlug': candidate.politician.slug,
                                                        'electionSlug': candidate.election.slug
                                                    }) }}"
                                                >
                                                    <span class="fa fa-walking mr-2"></span>
                                                    <span>{{ "text.view_the_made_actions"|trans }}</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    {% if candidate.constituency %}
                                        <div class="col-12 col-lg">
                                            <div
                                                class="mb-3"
                                                itemscope
                                                itemprop="location"
                                                itemtype="https://schema.org/AdministrativeArea"
                                            >
                                                <a
                                                    href="{{ path('constituency_election', {
                                                        slug: candidate.constituency.slug,
                                                        electionSlug: candidate.election.slug
                                                    }) }}"
                                                    itemprop="url"
                                                >
                                                    {{- "" -}}
                                                    <big class="fa fa-map-marker-alt mr-2"></big>
                                                    {{- "" -}}
                                                    <span itemprop="name">{{ candidate.constituency.name }}</span>
                                                    {{- "" -}}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if candidate.party %}
                                        <div class="col-12 col-lg-auto">
                                            <div class="mb-3">
                                                <div class="row align-items-center">
                                                    <div class="col-auto pr-0">
                                                        <div style="width: {{ logoSize }};" class="text-center">
                                                            <img
                                                                src="{{ macros.party_logo_url(candidate.party) }}"
                                                                alt="Logo"
                                                                style="max-width: {{ logoSize }}; max-height: {{ logoSize }};"
                                                                class="rounded"
                                                            >
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        {{ candidate.party.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if candidate.registrationDate %}
                                    <meta itemprop="startTime" content="{{ candidate.registrationDate|date('Y-m-d') }}">
                                    <div class="{{ detailClasses.row }}">
                                        <div class="{{ detailClasses.colLabel }}">
                                            <strong>{{ "label.registration_date"|trans }}</strong>
                                        </div>
                                        <div class="{{ detailClasses.colContent }}">
                                            {% if candidate.registrationLink %}
                                                <a
                                                    href="{{ candidate.registrationLink }}"
                                                    target="_blank"
                                                    itemprop="url"
                                                    content="{{ candidate.registrationLink }}"
                                                ><samp>{{ candidate.registrationDate|date }}</samp></a>
                                            {% else %}
                                                <samp>{{ candidate.registrationDate|date }}</samp>
                                            {% endif %}
                                            {% if candidate.registrationNote %}
                                                <span class="ml-2">{{ candidate.registrationNote }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if candidate.electoralPlatform and candidate.electoralPlatform != emptyHtml %}
                                    <div itemprop="description">
                                        {{ self_macros.detail_block("label.electoral_platform"|trans, candidate.electoralPlatform, detailClasses, "raw") }}
                                    </div>
                                {% elseif not candidate.electoralPlatformLink %}
                                    <div class="{{ detailClasses.row }}">
                                        <div class="{{ detailClasses.colLabel }}">{{ "label.electoral_platform"|trans }}</div>
                                        <div class="{{ detailClasses.colContent }}">
                                            <div class="alert alert-dark text-muted">
                                                <small>
                                                    Informația nu este disponibilă.
                                                    Informația a fost cercetată din 3 surse diferite, conform metodologiei elaborate de deFacto.md.
                                                    Îndemnăm candidații să furnizeze informația lipsă la
                                                    <a href='mai&#108;to&#58;ech&#105;pa&#64;&#100;ef&#97;c&#116;&#37;6&#70;&#46;md'>ec&#104;ipa&#64;defact&#111;&#46;&#109;&#100;</a>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if candidate.electoralPlatformLink %}
                                    <div class="{{ detailClasses.row }}">
                                        <div class="{{ detailClasses.colLabel }}"></div>
                                        <div class="{{ detailClasses.colContent }}">
                                            <a href="{{ candidate.electoralPlatformLink }}" target="_blank">
                                                {{ "label.electoral_platform_link"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}

{% macro detail_block(label, content, detailClasses, mode) %}
    <div class="{{ detailClasses.row }}">
        <div class="{{ detailClasses.colLabel }}">
            <strong>{{ label }}</strong>
        </div>
        <div class="{{ detailClasses.colContent }}{% if mode == "raw" %} raw-html{% endif %}">
            {% if not mode %}
                {{ content }}
            {% elseif mode == "raw" %}
                {{ content|raw }}
            {% elseif mode == "link" %}
                <a href="{{ content }}" target="_blank">{{ content }}</a>
            {% elseif mode == "email" %}
                <a href="mailto:{{ content }}"><samp>{{ content }}</samp></a>
            {% elseif mode == "phone" %}
                <a href="tel:{{ content }}"><samp>{{ content }}</samp></a>
            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro politician_bio(politician, detailClasses, emptyHtml) %}
    {% if politician.birthDate %}
        <div class="{{ detailClasses.row }}">
            <div class="{{ detailClasses.colLabel }}">
                <strong>{{ "label.birth_date"|trans }}</strong>
            </div>
            <div class="{{ detailClasses.colContent }}">
                <samp itemprop="birthDate" content="{{ politician.birthDate|date('Y-m-d') }}">
                    {{ politician.birthDate|date }}
                </samp>
                <small class="text-muted ml-3">
                    <samp>{{ politician.birthDate|age }}</samp>
                    {{ "text.years_n"|trans({'%count%': politician.birthDate|age}) }}
                </small>
            </div>
        </div>
    {% endif %}
    {% if politician.profession %}
        <meta itemprop="jobTitle" content="{{ politician.profession }}">
        {{ self_macros.detail_block("label.profession"|trans, politician.profession, detailClasses) }}
    {% endif %}
    {% if politician.studies and politician.studies != emptyHtml %}
        {{ self_macros.detail_block("label.studies"|trans, politician.studies, detailClasses, "raw") }}
    {% endif %}
    {% if politician.previousTitles and politician.previousTitles != emptyHtml %}
        {{ self_macros.detail_block("label.previous_titles"|trans, politician.previousTitles, detailClasses, "raw") }}
    {% endif %}
    {% if politician.website or politician.facebook or politician.email or politician.phone %}
        <div class="card bg-transparent mt-4">
            <div class="card-body pb-0">
                <h5 class="mb-3">{{ "title.contact_information"|trans }}</h5>
                <div class="row">
                    {% if politician.website %}
                        <div class="col-lg-6">
                            <p>
                                <span class="fas fa-globe mr-2"></span>
                                <a
                                    href="{{ politician.website }}"
                                    target="_blank"
                                ><span itemprop="url">{{ politician.website }}</span></a>
                            </p>
                        </div>
                    {% endif %}
                    {% if politician.facebook %}
                        <div class="col-lg-6">
                            <p>
                                <span class="fab fa-facebook-square mr-2"></span>
                                <a href="{{ politician.facebook }}" target="_blank">{{ "label.facebook"|trans }}</a>
                            </p>
                        </div>
                    {% endif %}
                    {% if politician.email %}
                        <div class="col-lg-6">
                            <p>
                                <span class="fas fa-envelope mr-2"></span>
                                <a
                                    href="mailto:{{ politician.email }}"
                                ><samp itemprop="email">{{ politician.email }}</samp></a>
                            </p>
                        </div>
                    {% endif %}
                    {% if politician.phone %}
                        <div class="col-lg-6">
                            <p>
                                <span class="fas fa-mobile-alt mr-2"></span>
                                <a
                                    href="tel:{{ politician.phone }}"
                                ><samp itemprop="telephone">{{ politician.phone }}</samp></a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
