{% extends 'app/base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import _self as self_macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block title %}{{ politician.firstName }} {{ politician.lastName }} • {{ "title.politician"|trans }}{% endblock %}
{% block head_meta_og_image %}{{ app.request.getSchemeAndHttpHost ~ macros.politician_photo_url(politician) }}{% endblock %}

{% block head_meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'meta_description.politician'|trans }}">
{% endblock %}

{% set logoSize = '2rem' %}
{% set maxImgWidth = '20rem' %}
{% set emptyHtml = '<p>&nbsp;</p>' %}
{% set detailClasses = {
    row: "row mb-3",
    colLabel: "col-lg-3",
    colContent: "col-lg-9",
} %}

{% block main %}
    <main class="container-fluid px-0 bg-white">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container pb-5">
            <section
                class="row"
                itemscope
                itemtype="https://schema.org/Person"
                itemid="{{ path('politician', {slug: politician.slug}) }}"
            >
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            <h1>
                                <span itemprop="givenName">{{ politician.firstName }}</span>
                                <span itemprop="familyName">{{ politician.lastName }}</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 mb-3 mb-lg-0">
                            <div>
                                <img
                                    src="{{ macros.politician_photo_url(politician) }}"
                                    alt="Map"
                                    class="img-fluid w-100 rounded"
                                    style="max-width: {{ maxImgWidth }};"
                                    itemprop="image"
                                >
                            </div>
                        </div>
                        <div class="col-lg-9">
                            {% if politician.birthDate %}
                                <div class="{{ detailClasses.row }}">
                                    <div class="{{ detailClasses.colLabel }}">
                                        <strong>{{ "label.birth_date"|trans }}</strong>
                                    </div>
                                    <div class="{{ detailClasses.colContent }}">
                                        <samp itemprop="birthDate" content="{{ politician.birthDate|date('Y-m-d') }}">
                                            {{ politician.birthDate|date }}
                                        </samp>
                                        <small class="text-muted ml-3">
                                            <samp>{{ politician.birthDate|age }}</samp>
                                            {{ "text.years_n"|trans({'%count%': politician.birthDate|age}) }}
                                        </small>
                                    </div>
                                </div>
                            {% endif %}
                            {% if politician.profession %}
                                <meta itemprop="jobTitle" content="{{ politician.profession }}">
                                {{ self_macros.detail_block("label.profession"|trans, politician.profession) }}
                            {% endif %}
                            {% if politician.studies and politician.studies != emptyHtml %}
                                {{ self_macros.detail_block("label.studies"|trans, politician.studies, "raw") }}
                            {% endif %}
                            {% if politician.previousTitles and politician.previousTitles != emptyHtml %}
                                {{ self_macros.detail_block("label.previous_titles"|trans, politician.previousTitles, "raw") }}
                            {% endif %}
                            {% if politician.website or politician.facebook or politician.email or politician.phone %}
                                <div class="card mt-3">
                                    <div class="card-body pb-0">
                                        <h5 class="mb-3">{{ "title.contact_information"|trans }}</h5>
                                        <div class="row">
                                            {% if politician.website %}
                                                <div class="col-lg-6">
                                                    <p>
                                                        <span class="fas fa-globe mr-2"></span>
                                                        <a
                                                            href="{{ politician.website }}"
                                                            target="_blank"
                                                        ><span itemprop="url">{{ politician.website }}</span></a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            {% if politician.facebook %}
                                                <div class="col-lg-6">
                                                    <p>
                                                        <span class="fab fa-facebook-square mr-2"></span>
                                                        <a href="{{ politician.facebook }}" target="_blank">{{ "label.facebook"|trans }}</a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            {% if politician.email %}
                                                <div class="col-lg-6">
                                                    <p>
                                                        <span class="fas fa-envelope mr-2"></span>
                                                        <a
                                                            href="mailto:{{ politician.email }}"
                                                        ><samp itemprop="email">{{ politician.email }}</samp></a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                            {% if politician.phone %}
                                                <div class="col-lg-6">
                                                    <p>
                                                        <span class="fas fa-mobile-alt mr-2"></span>
                                                        <a
                                                            href="tel:{{ politician.phone }}"
                                                        ><samp itemprop="telephone">{{ politician.phone }}</samp></a>
                                                    </p>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            {% for candidate in candidates %}
                {% set mandate = mandatesByElection[candidate.election.id]|default(null) %}
                {% set promises = promisesByElection[candidate.election.id]|default([]) %}

                <section
                    class="row mt-5"
                    itemscope
                    itemtype="https://schema.org/{{ mandate ? "WinAction" : "VoteAction" }}"
                >
                    <link
                        itemprop="{{ mandate ? "agent" : "candidate" }}"
                        href="{{ path('politician', {slug: politician.slug}) }}"
                    >
                    <meta itemprop="endTime" content="{{ candidate.election.date|date('Y-m-d') }}">

                    <div class="col">
                        <h4 class="mb-3">
                            {% if mandate %}
                                <span class="fa fa-vote-yea text-success mr-2"></span>

                                {{ "title.elected"|trans }}
                                <span itemprop="name">
                                    {{ mandate.institutionTitle.title.name }}
                                    {{ "text.in_elections_from"|trans }}
                                    {{ candidate.election.date|date }}
                                </span>

                                {% if mandate.decisionLink %}
                                    <small>
                                        <small>
                                            <small>
                                                <a
                                                    href="{{ mandate.decisionLink }}"
                                                    target="_blank"
                                                    itemprop="url"
                                                    content="{{ mandate.decisionLink }}"
                                                >{{ "action.view_decision"|trans }}</a>
                                            </small>
                                        </small>
                                    </small>
                                {% endif %}
                            {% else %}
                                <span class="fa fa-child text-secondary mr-2"></span>

                                {{ "title.candidate_in"|trans }}
                                <span itemprop="name">
                                    {{ candidate.election.name|lower }}
                                    {{ "text.from"|trans }}
                                    {{ candidate.election.date|date }}
                                </span>
                            {% endif %}
                        </h4>
                        {% if candidate.constituency %}
                            <div class="mb-3">
                                <a
                                    href="{{ path('constituency', {slug: candidate.constituency.slug, electionSlug: candidate.election.slug}) }}"
                                ><span itemprop="object">{{ candidate.constituency.name }}</span></a>
                            </div>
                        {% endif %}
                        {% if candidate.party %}
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col-auto pr-0">
                                        <div style="width: {{ logoSize }};" class="text-center">
                                            <img
                                                src="{{ macros.party_logo_url(candidate.party) }}"
                                                alt="Logo"
                                                style="max-width: {{ logoSize }}; max-height: {{ logoSize }};"
                                                class="rounded"
                                            >
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ candidate.party.name }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if candidate.registrationDate %}
                            <meta itemprop="startTime" content="{{ candidate.registrationDate|date('Y-m-d') }}">
                            <div class="{{ detailClasses.row }}">
                                <div class="{{ detailClasses.colLabel }}">
                                    <strong>{{ "label.registration_date"|trans }}</strong>
                                </div>
                                <div class="{{ detailClasses.colContent }}">
                                    {% if candidate.registrationLink %}
                                        <a
                                            href="{{ candidate.registrationLink }}"
                                            target="_blank"
                                            itemprop="url"
                                            content="{{ candidate.registrationLink }}"
                                        ><samp>{{ candidate.registrationDate|date }}</samp></a>
                                    {% else %}
                                        <samp>{{ candidate.registrationDate|date }}</samp>
                                    {% endif %}
                                    {% if candidate.registrationNote %}
                                        <span class="ml-2">{{ candidate.registrationNote }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if candidate.electoralPlatform and candidate.electoralPlatform != emptyHtml %}
                            <div itemprop="description">
                                {{ self_macros.detail_block("label.electoral_platform"|trans, candidate.electoralPlatform, "raw") }}
                            </div>
                        {% elseif not candidate.electoralPlatformLink %}
                            <div class="{{ detailClasses.row }}">
                                <div class="{{ detailClasses.colLabel }}">{{ "label.electoral_platform"|trans }}</div>
                                <div class="{{ detailClasses.colContent }}">
                                    <div class="alert alert-dark text-muted">
                                        <small>
                                            Informația nu este disponibilă.
                                            Informația a fost cercetată din 3 surse diferite, conform metodologiei elaborate de deFacto.md.
                                            Îndemnăm candidații să furnizeze informația lipsă la
                                            <a href='mai&#108;to&#58;ech&#105;pa&#64;&#100;ef&#97;c&#116;&#37;6&#70;&#46;md'>ec&#104;ipa&#64;defact&#111;&#46;&#109;&#100;</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if candidate.electoralPlatformLink %}
                            <div class="{{ detailClasses.row }}">
                                <div class="{{ detailClasses.colLabel }}"></div>
                                <div class="{{ detailClasses.colContent }}">
                                    <a href="{{ candidate.electoralPlatformLink }}" target="_blank">
                                        {{ "label.electoral_platform_link"|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="{{ detailClasses.row }}">
                            <div class="{{ detailClasses.colLabel }}"><strong>{{ "title.promises"|trans }}</strong></div>
                            <div class="{{ detailClasses.colContent }}">
                                {% if promises|length %}
                                    <a
                                        href="{{ path("promises", {
                                            'politicianSlug': candidate.politician.slug,
                                            'electionSlug': candidate.election.slug
                                        }) }}"
                                    >{{ "text.view_promises_count"|trans({'%count%': promises|length}) }}</a>
                                {% else %}
                                    <span class="text-muted">{{ "title.none"|trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </main>
    {% include 'app/component/section/footer.html.twig' only %}
{% endblock %}

{% macro detail_block(label, content, mode) %}
    <div class="row mb-3">
        <div class="col-lg-3">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-lg-9{% if mode == "raw" %} raw-html{% endif %}">
            {% if not mode %}
                {{ content }}
            {% elseif mode == "raw" %}
                {{ content|raw }}
            {% elseif mode == "link" %}
                <a href="{{ content }}" target="_blank">{{ content }}</a>
            {% elseif mode == "email" %}
                <a href="mailto:{{ content }}"><samp>{{ content }}</samp></a>
            {% elseif mode == "phone" %}
                <a href="tel:{{ content }}"><samp>{{ content }}</samp></a>
            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
