{% extends 'app/base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% set has_description = (promise.description|trim is not empty and promise.description != '<p>&nbsp;</p>') %}
{% set has_categories = promise.categories is not empty %}

{% block main %}
    <div class="container-fluid bg-light-pattern">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-4 mb-3 mb-lg-0">
                    <div class="row promise-made-by">
                        <div class="col">
                            <div class="d-lg-flex align-items-center text-center">
                                <img class="rounded-circle img-fluid mr-0 mr-lg-3 mb-3 mb-lg-0"
                                     src="{{ macros.politician_photo_url(promise.mandate.politician) }}"
                                     alt="Politician">
                                <h1 class="h4">
                                    <strong>
                                        {{- promise.mandate.politician.firstName }}
                                        {{ promise.mandate.politician.lastName -}}
                                    </strong>
                                    <br>
                                    {{ 'title._promised'|trans }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    {% include 'app/component/item/promise.html.twig' with {promise: promise, is_main: true} only %}
                </div>
            </div>
            {% if has_categories %}
                <div class="row mt-3">
                    <div class="offset-lg-5 offset-xl-4 col-lg-7 col-xl-8">
                        {% for category in promise.categories %}
                            <span class="badge badge-info{% if not loop.first %} ml-3{% endif %}">
                                {{- category.name -}}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if has_description %}
            <div class="row">
                <div class="col">
                    <div class="card bg-light {% if has_categories %}mt-3{% else %} mt-5{% endif %}">
                        <div class="card-body raw-html">{{ promise.description|raw }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% include 'app/component/after-header-space.html.twig' %}
    </div>
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                {% if promise.promiseUpdates is empty %}
                    <div class="col text-center text-light">
                        <h2 class="h3 text-danger-light">{{ 'title.promise_no_actions'|trans }}</h2>
                        <p class="h3 mt-5"><span class="fa fa-search"></span></p>
                        <p class="mb-0">{{ 'text.promise_is_monitored'|trans }}</p>
                    </div>
                {% else %}
                    <div class="col">
                        <h2 class="h3 text-light text-center">{{ 'title.promise_actions'|trans }}</h2>
                        <div class="mt-5">
                            {% for promiseUpdate in promise.publishedPromiseUpdatesSortedByActionDate %}
                                <div class="row align-items-md-center{% if not loop.last %} mb-5{% endif %}">
                                    <div class="col">
                                        <div class="card bg-light">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span class="text-muted d-inline-block pr-1"
                                                              data-toggle="tooltip" data-placement="right"
                                                              title="{{ promiseUpdate.action.occurredTime|date }}"
                                                        >{{ promiseUpdate.action.occurredTime|ago }}</span>
                                                        {% if promiseUpdate.action.usedPowers is not empty %}
                                                            {% for power in promiseUpdate.action.usedPowers %}
                                                                <span class="badge badge-primary">{{ power.name }}</span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-4 text-sm-right">
                                                        {% if promiseUpdate.status %}
                                                            <span class="text-muted">promisiune</span>
                                                            <span class="text-uppercase badge text-white status-bg-{{ promiseUpdate.status.color }}"
                                                            >{{ promiseUpdate.status.name }}</span>
                                                        {% else %}
                                                            <span class="text-muted">statut neschimbat</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                {% set has_description = (
                                                    promiseUpdate.action.description|trim is not empty
                                                    and
                                                    promiseUpdate.action.description != '<p>&nbsp;</p>'
                                                ) %}
                                                <h4 class="mb-{{ has_description ? '3' : '0' }}">
                                                    {{- promiseUpdate.action.name -}}
                                                </h4>
                                                {% if has_description %}
                                                    <div class="raw-html">{{ promiseUpdate.action.description|raw }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'app/component/section/footer.html.twig' with {delimiter: true} only %}
{% endblock %}
