{% extends 'app/base.html.twig' %}

{% set politician_photo = promise.mandate.politician.photo
    ? asset('uploads/politicians/' ~ promise.mandate.politician.photo.filename)
    : 'about:blank'
%}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block main %}
    <div class="container-fluid bg-gray-pattern">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-4 mb-3 mb-lg-0">
                    <div class="row promise-made-by">
                        <div class="col">
                            <div class="d-lg-flex align-items-center text-center">
                                <img class="rounded-circle img-fluid mr-0 mr-lg-3 mb-3 mb-lg-0"
                                     src="{{ politician_photo }}"
                                     alt="Politician">
                                <h1 class="h4">
                                    <a href="javascript:void(0)">
                                        {{- promise.mandate.politician.firstName }}
                                        {{ promise.mandate.politician.lastName -}}
                                    </a>
                                    <br>
                                    {{ 'title._promised'|trans }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    {% include 'app/component/item/promise.html.twig' with {promise: promise, no_link: true} only %}
                </div>
            </div>
        </div>
        {% include 'app/component/after-header-space.html.twig' %}
    </div>
    <div class="container-fluid py-5 text-light">
        <div class="container">
            <div class="row">
                {% if promise.statusUpdates|length %}
                    <div class="col">
                        <h2 class="h3 text-center">{{ 'title.promise_actions'|trans }}</h2>
                        <p>...</p>
                    </div>
                {% else %}
                    <div class="col text-center">
                        <h2 class="h3">{{ 'title.promise_no_actions'|trans }}</h2>
                        <p class="h3 pt-5"><span class="fa fa-search"></span></p>
                        <p>{{ 'text.promise_is_monitored'|trans }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}