{% extends 'app/base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block html_class %}bg-dark-pattern{% endblock %}
{% block body_class %}bg-transparent{% endblock %}

{% block main %}
    <div class="container-fluid bg-light-pattern">
        {% include 'app/component/after-header-space.html.twig' %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-4 mb-3 mb-lg-0">
                    <div class="row promise-made-by">
                        <div class="col">
                            <div class="d-lg-flex align-items-center text-center">
                                <img class="rounded-circle img-fluid mr-0 mr-lg-3 mb-3 mb-lg-0"
                                     src="{{ macros.politician_photo_url(promise.mandate.politician) }}"
                                     alt="Politician">
                                <h1 class="h4">
                                    <strong>
                                        {{- promise.mandate.politician.firstName }}
                                        {{ promise.mandate.politician.lastName -}}
                                    </strong>
                                    <br>
                                    {{ 'title._promised'|trans }}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-8">
                    {% include 'app/component/item/promise.html.twig' with {promise: promise, is_main: true} only %}
                </div>
            </div>
        </div>
        {% include 'app/component/after-header-space.html.twig' %}
    </div>
    <div class="container-fluid py-5 text-light">
        <div class="container">
            <div class="row">
                {% if promise.statusUpdates is empty %}
                    <div class="col text-center">
                        <h2 class="h3 text-danger-light">{{ 'title.promise_no_actions'|trans }}</h2>
                        <p class="h3 pt-5"><span class="fa fa-search"></span></p>
                        <p>{{ 'text.promise_is_monitored'|trans }}</p>
                    </div>
                {% else %}
                    <div class="col">
                        <h2 class="h3 text-info-light text-center">{{ 'title.promise_actions'|trans }}</h2>
                        <div class="promise-status-updates mt-5">
                            {% for statusUpdate in promise.publishedStatusUpdatesSortedByActionDate %}
                                <div class="row align-items-md-center mb-5">
                                    <div class="col-6 col-md-3 col-lg-2">
                                        <span class="h6"
                                              data-toggle="tooltip" data-placement="top"
                                              title="{{ statusUpdate.action.occurredTime|date }}"
                                        >{{ statusUpdate.action.occurredTime|ago }}</span>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-8 order-last order-md-0 text-center">
                                        <h4>
                                            <a href="javascript:void(0)"
                                               class="text-white">{{ statusUpdate.action.name }}</a>
                                        </h4>
                                    </div>
                                    <div class="col-6 col-md-3 col-lg-2 text-right">
                                        <span class="badge status-color-{{ statusUpdate.status.color }}-light">
                                            <span class="h6 text-uppercase">
                                                {{- statusUpdate.status.name -}}
                                                <span class="fa fa-arrow-up"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
