{% extends 'base.html.twig' %}

{% block head_meta %}
    {{ parent() }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% if form is defined %}
    {% form_theme form 'admin/form-theme.html.twig' %}
{% elseif filterForm is defined %}
    {% form_theme filterForm 'admin/form-theme.html.twig' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/admin/styles.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/admin/scripts.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'admin/component/navbar.html.twig' %}
    {% endblock %}

    {% block main %}{% endblock %}
    <div class="py-5"></div>

    {% block body_end %}
        {% include 'admin/component/flash-messages.html.twig' %}
    {% endblock %}
{% endblock %}