{% extends 'bootstrap_4_layout.html.twig' %}

{% block collection_widget %}
    <div class="collection-widget">
        {{ parent() }}
    </div>

    <div class="row">
        <div class="col">
            <button
                type="button"
                class="btn btn-sm btn-light"
                onclick="(function(wrap){
                    var newEl = document.createElement('div'),
                        html = wrap.attributes['data-prototype'].value,
                        counterAttrName = 'data-prototype-counter',
                        counter = 0;

                    wrap.attributes[counterAttrName] || (function(){
                            var attr = document.createAttribute(counterAttrName);
                            attr.value = String(counter);
                            wrap.setAttributeNode(attr);
                        })();
                    wrap.attributes[counterAttrName].value = String(parseInt(wrap.attributes[counterAttrName].value) + 1);

                    newEl.innerHTML = html.replace(/__name__/g, 'new_' + wrap.attributes[counterAttrName].value);
                    newEl.querySelector('legend').remove();

                    document.body.dispatchEvent(new CustomEvent('app:initElement', {detail: newEl.firstChild}));

                    wrap.appendChild(newEl.firstChild);
                })(document.getElementById('{{ form.vars.id }}'))"
            >{{ ('action.add_' ~ form.vars.name)|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block promise_update_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.action) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.promise) }}
                </div>
                <div class="col">
                    {{ form_row(form.status) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block constituency_problem_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.constituency) }}
            </div>
            <div class="row">
                <div class="col-lg-5">
                    {{ form_row(form.election) }}
                </div>
                <div class="col-lg-5">
                    {{ form_row(form.problem) }}
                </div>
                <div class="col">
                    {{ form_row(form.respondents) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block constituency_candidate_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.constituency) }}
            </div>
            <div class="row">
                <div class="col-lg-3">
                    {{ form_row(form.politician) }}
                </div>
                <div class="col-lg-5">
                    {{ form_row(form.election) }}
                </div>
                <div class="col">
                    {{ form_row(form.party) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3">
                    {{ form_row(form.registrationDate, {
                        'type': 'text',
                        'attr': {'class': 'datepicker-input', 'readonly': true}
                    }) }}
                </div>
                <div class="col-lg-5">
                    {{ form_row(form.registrationNote) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.registrationLink) }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.electoralPlatformLink) }}
                </div>
                <div class="col-12">
                    {{ form_row(form.electoralPlatform) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block candidate_problem_opinion_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.constituency) }}
            </div>
            <div class="row">
                <div class="col-lg-4">
                    {{ form_row(form.election) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.politician) }}
                </div>
                <div class="col">
                    {{ form_row(form.problem) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.opinion) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block promise_source_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.promise) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    {{ form_row(form.link) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block action_source_widget %}
    {% import _self as macros %}

    <div class="card mb-3 bg-light">
        <div class="card-body pt-2 pb-1 px-3">
            <div class="d-none">
                {{ form_row(form.action) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    {{ form_row(form.link) }}
                </div>
                {% if form.parent.vars.allow_delete %}
                    {{ macros.delete_btn_col() }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% macro delete_btn_col() %}
    <div class="col-auto pl-0 pr-2">
        <button type="button" class="btn btn-light"
                aria-label="Delete" onclick="this.closest('.form-group').remove();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endmacro %}

{% block google_map_widget %}
    {% import _self as macros %}

    <div class="google-map-widget" id="{{ form.vars.id }}">
        <div class="row mb-2">
            <div class="col">
                <div class="square" style="max-width: 16rem">
                    <div class="content map"></div>
                </div>
            </div>
        </div>
        <div class="row coordinates">
            <div class="col">
                {{ form_row(form.lat, {attr: {class: "form-control-sm lat"}}) }}
            </div>
            <div class="col">
                {{ form_row(form.lng, {attr: {class: "form-control-sm lng"}}) }}
            </div>
        </div>
    </div>

    {% set callback = 'init_map_' ~ form.vars.id %}
    <script>
        function {{ callback }}() {
            document.body.dispatchEvent(new CustomEvent('app:initElement', {
                detail: document.getElementById({{ form.vars.id|json_encode|raw }})
            }));
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback={{ callback }}"></script>
{% endblock %}
