{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'admin/component/breadcrumb.html.twig' with {
                    current: {title: 'title.politicians'|trans}
                } only %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h3>
                    {{ 'title.mandates'|trans }}
                    <sup>
                        <a href="{{ path('admin_mandate_add') }}" class="badge badge-light text-muted"
                        >{{ 'action.add'|trans }}</a>
                    </sup>
                </h3>
                {% include 'admin/component/list/mandates.html.twig' with {
                    mandates: mandates
                } only %}
            </div>
            <div class="col-lg-4">
                <h3>
                    {{ 'title.politicians'|trans }}
                    <sup>
                        <a href="{{ path('admin_politician_add') }}" class="badge badge-light text-muted"
                        >{{ 'action.add'|trans }}</a>
                    </sup>
                </h3>
                {% include 'admin/component/list/politicians.html.twig' with {
                    politicians: politicians
                } only %}
            </div>
        </div>
    </div>
{% endblock %}