{% import 'macros.html.twig' as macros %}

{% set mapData = [] %}
{% for c in constituencies %}
    {% if c.constituency.hasMap() %}
        {% set mapData = mapData|merge([{
            lat: c.constituency.map.lat,
            lng: c.constituency.map.lng,
            label: c.constituency.number,
            description: c.constituency.name,
            url: path('constituency', {
                slug: c.constituency.slug,
                electionSlug: c.election.slug
            }),
        }]) %}
    {% endif %}
{% endfor %}

<section class="election-statistics pb-5" itemscope itemtype="https://schema.org/VoteAction">
    {% include 'app/component/after-header-space.html.twig' %}
    <div class="row">
        <div class="col">
            <h2
                class="text-center mb-3"
                itemprop="name"
            >{{ election.date < date() ? election.theElectedName : election.theName }}</h2>
            <meta itemprop="startTime" content="{{ election.date|date('Y-m-d') }}">
            <div class="alert alert-info" role="alert">
                <select
                    class="form-control form-control-sm d-inline-block w-auto mr-2"
                    onchange="location.assign(this.value)"
                    style="width: {{ 'text.choose_constituency'|trans|length }}ch !important;"
                >
                    <option value="">{{ 'text.choose_constituency'|trans }}</option>
                    {% for c in constituencies %}
                        <option
                            value="{{ path('constituency', {
                                slug: c.constituency.slug,
                                electionSlug: c.election.slug
                            }) }}">
                            {{ c.constituency.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="mt-2 d-sm-none"></div>
                {{ 'text.or_click_on_map'|trans }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="square">
                <div class="content rounded bg-light map-markers" data-map-markers="{{ mapData|json_encode }}"></div>
            </div>
        </div>
    </div>
</section>
