{% import 'macros.html.twig' as macros %}

{% set mapData = [] %}
{% for constituency in constituencies %}
    {% if constituency.map.lat|default %}
        {% set mapData = mapData|merge([{
            lat: constituency.map.lat,
            lng: constituency.map.lng,
            label: constituency.number,
            description: constituency.name,
            url: path('constituency', {slug: constituency.slug}),
        }]) %}
    {% endif %}
{% endfor %}

<div class="election-statistics bg-white pb-5">
    {% include 'app/component/after-header-space.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center mb-3">{{ election.name }}</h2>
                <div class="alert alert-info" role="alert">
                    <select
                        class="form-control form-control-sm d-inline-block w-auto mr-2"
                        onchange="location.assign(this.value)"
                        style="width: {{ 'text.choose_constituency'|trans|length }}ch !important;"
                    >
                        <option value="">{{ 'text.choose_constituency'|trans }}</option>
                        {% for constituency in constituencies %}
                            <option value="{{ path('constituency', {slug: constituency.slug}) }}">
                                {{ constituency.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="mt-2 d-sm-none"></div>
                    {{ 'text.or_click_on_map'|trans }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="square">
                    <div class="content rounded bg-light map-markers" data-map-markers="{{ mapData|json_encode }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
