{% if delimiter is defined %}
    <div class="container">
        <hr class="border-secondary mt-5">
    </div>
{% endif %}
<footer class="container text-light my-5">
    <div class="row">
        <div class="col text-sm-center">
            <h5 class="mb-5">{{ "meta_description.main_longer"|trans }}</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col text-center">
            <h5 class="h3 mb-3">{{ "text.find_us_on"|trans }}</h5>
            <div class="d-lg-flex justify-content-center">
                {# {
                    name: 'Instagram',
                    link: 'https://instagram.com/defacto.md/',
                    icon: 'fab fa-instagram',
                    raw:  false
                },
                {
                    name: 'Linkedin',
                    link: 'https://www.linkedin.com/company/defactomd/',
                    icon: 'fab fa-linkedin',
                    raw:  false
                }, #}
                {% for item in [
                    {
                        name: 'Facebook',
                        link: 'https://facebook.com/defacto.md/',
                        icon: 'fab fa-facebook-square',
                        raw:  false
                    },
                    {
                        name: 'Email',
                        link: 'mai&#108;to&#58;&#101;&#099;&#104;&#105;&#112;&#097;&#064;&#100;&#101;&#102;&#097;&#099;&#116;&#111;&#046;&#109;&#100;',
                        icon: 'fa fa-at',
                        raw:  true
                    },
                ] %}
                <div class="px-2 mb-3">
                    <a
                        href="{{ item.raw ? item.link|raw : item.link }}"
                        {% if not item.raw %}target="_blank"{% endif %}
                        class="btn btn-lg btn-outline-info p-3"
                    >
                        <div class="mb-2">
                            <span class="{{ item.icon }} fa-3x"></span>
                        </div>
                        <div>{{ item.name }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>