{% import 'macros.html.twig' as macros %}

{% set maxCount = 0 %}
{% for promise in promiseStatistics %}
    {% set maxCount = max(maxCount, promise.count) %}
{% endfor %}

<div class="mandate-statistics pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center pb-3">
                <h1 class="my-3">{{ mandate.institutionTitle.title.name }}</h1>
            </div>
        </div>
        <div class="row align-items-lg-center">
            <div class="photo-col col-md-6 offset-md-3 offset-lg-0 col-lg-4 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ mandate.politician.photo ? asset('uploads/politicians/' ~ mandate.politician.photo.filename) : 'about:blank' }}"
                             class="rounded-circle img-fluid mb-3" alt="Politician">
                        <h3 class="text-center">
                            {{ mandate.politician.firstName }} {{ mandate.politician.lastName }}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="w-100 d-lg-none"></div>
            <div class="col-md-6 col-lg-4 order-lg-first mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-4">{{ 'title.promises'|trans }}</h2>
                        {% if maxCount %}
                            {% for promise in promiseStatistics %}
                                <div class="h5">
                                    <div>
                                        {{ promise.count == 1 ? promise.status.name : promise.status.namePlural }}
                                        <sup class="text-primary">{{ promise.count }}</sup>
                                    </div>
                                    <div class="mt-1 progress{% if not loop.last %} mb-4{% endif %}">
                                        <div class="progress-bar bg-primary"
                                             style="width: {{ promise.count * 100 / maxCount }}%;"
                                        ></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-4">{{ 'title.mandate'|trans }}</h2>
                        <div class="h5">
                            <div>
                                {{ 'title.votes'|trans }}
                                <sup class="text-muted">
                                    <span class="text-primary">{{ mandate.votesCount }}</span>&nbsp;&middot;&nbsp;<span class="text-primary">{{ mandate.votesPercent }}%</span>
                                </sup>
                            </div>
                            <div class="mt-1 progress mb-4">
                                <div class="progress-bar bg-primary"
                                     style="width: {{ mandate.votesPercent }}%;"
                                ></div>
                            </div>
                        </div>
                        <div class="h5">
                            <div>
                                {{ 'title.the_duration'|trans }}
                                <sup class="text-muted">
                                    <span class="text-primary">{{ mandate.beginDate|date('m.Y') }}</span>&nbsp;&middot;&nbsp;<span class="text-primary">{{ mandate.endDate|date('m.Y') }}</span>
                                </sup>
                            </div>
                            <div class="mt-1 progress">
                                <div class="progress-bar bg-primary"
                                     style="width: {{ '' ~ macros.get_date_interval_progress(mandate.beginDate, mandate.endDate) }}%;"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
