{% set maxCount = 0 %}
{% for promise in promiseStatistics %}
    {% set maxCount = max(maxCount, promise.count) %}
{% endfor %}

<div class="container mb-5">
    <div class="row">
        <div class="col text-center pb-3">
            <h2>{{ mandate.institutionTitle.title.name }}</h2>
        </div>
    </div>
    <div class="row align-items-md-center">
        <div class="col-sm-6 offset-sm-3 offset-md-0 col-md-4 mb-4 mb-md-0">
            <div class="card card-body">
                <img src="{{ mandate.politician.photo ? asset('uploads/politicians/' ~ mandate.politician.photo.filename) : 'about:blank' }}"
                     class="rounded-circle img-fluid mb-3" alt="Politician">
                <h5 class="font-weight-bold text-center">
                    <strong>{{ mandate.politician.firstName }} {{ mandate.politician.lastName }}</strong>
                </h5>
            </div>
        </div>
        <div class="w-100 d-md-none"></div>
        <div class="col-sm-6 col-md-4 order-md-first text-sm-right mb-4 mb-sm-0">
            <div class="text-center">
                <h2>Promisiuni <sup class="text-muted">{{ promiseStatistics|length }}</sup></h2>
                {% if maxCount %}
                    {% for promise in promiseStatistics %}
                        <p>
                            <div class="progress">
                                <div class="progress-bar bg-primary"
                                     style="width: {{ promise.count * 100 / maxCount }}%;"
                                >{{ promise.count ~ ' ' ~ (promise.count == 1 ? promise.status.name : promise.status.namePlural) }}</div>
                            </div>
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div>
                <h5><span class="fa fa-users"></span> {{ mandate.votesCount }} voturi obținute</h5>
                <div class="progress votes">
                    <div class="progress-bar bg-success" style="width: {{ mandate.votesPercent }}%;">{{ mandate.votesPercent }}%</div>
                </div>
            </div>
        </div>
    </div>
</div>