<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="mb-4 text-center text-white">{{ 'title.promises'|trans }}</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for promise in promises %}
                <div class="col-md-6 col-lg-4">
                    <div class="card p-3 promise-item bg-light">
                        <blockquote class="blockquote mb-0 card-body">
                            <p>{{ promise.name }}</p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">{{ promise.madeTime|ago }}</small>
                            </footer>
                            {% if promise.status %}
                                <div class="status" style="color: {{ promise.status.color }}">{{ promise.status.name }}</div>
                            {% endif %}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>