{% if logs is empty %}
    <p>{{ 'text.no_logs'|trans }}</p>
{% else %}
    <div class="list-group list-group-flush">
        {% for log in logs %}
            <a href="#"
               onclick="return false;"
               class="list-group-item list-group-item-action app-log-diff"
               data-before="{{ log.dataBefore }}"
               data-after="{{ log.dataAfter }}"
            >{{ log.description }} <small class="float-lg-right">{{ log.occurredTime|ago }}</small></a>
        {% endfor %}
    </div>
{% endif %}