<div class="list-group list-group-flush">
    {% for mandate in mandates %}
        <a class="list-group-item list-group-item-action" href="{{ path('admin_mandate_edit', {id: mandate.id}) }}">
            <h5 class="mb-0">
                {% include 'admin/component/widget/politician-name.html.twig' with { politician: mandate.politician } only %}
                • <small>{{ mandate.institutionTitle.title.name }}</small>
            </h5>
            <div>
                <small>
                    {{ mandate.election.date|date }} {{ mandate.election.name }}
                    {% if mandate.constituency %}
                        • {{ mandate.constituency.name }}
                    {% endif %}
                </small>
            </div>
            {% include 'admin/component/widget/begin-end-date-progress.html.twig' with {
                beginDate: mandate.beginDate,
                endDate: mandate.endDate
            } only %}
        </a>
    {% endfor %}
</div>