{% import 'macros.html.twig' as macros %}

{% set photoSize = '3rem' %}

<div class="list-group list-group-flush">
    {% for politician in politicians %}
        <a
            class="list-group-item list-group-item-action px-0"
            href="{{ path('admin_politician_edit', {id: politician.id}) }}"
        >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div style="width: {{ photoSize }};">
                            <img
                                src="{{ macros.politician_photo_url(politician) }}"
                                alt="Photo"
                                style="max-width: {{ photoSize }}; max-height: {{ photoSize }};"
                                class="rounded"
                            >
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="mb-0">{{ politician.firstName }} {{ politician.lastName }}</h5>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>