{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.slug) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col">
                {{ form_row(form.occurredTime, {
                    'type': 'text',
                    'attr': {'class': 'datepicker-input', 'readonly': true}
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-md-3"></div>
                {{ form_row(form.published) }}
            </div>
        </div>
    </div>
</div>

{% if id %}
    <div class="row">
        <div class="col pb-3">
            {{ form_row(form.sources) }}
        </div>
    </div>
{% else %}
    {% do form.sources.setRendered() %}
{% endif %}

<div class="row">
    <div class="col">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col">
                {{ form_row(form.mandate) }}
            </div>
        </div>
        {% if id %}
            <div class="row">
                <div class="col pb-3">
                    {{ form_row(form.promiseUpdates) }}
                </div>
            </div>
        {% else %}
            {% do form.promiseUpdates.setRendered() %}
        {% endif %}
    </div>
    <div class="col-12 col-lg-4">
        {% if id %}
            <div class="row">
                <div class="col">
                    {{ form_row(form.usedPowers) }}
                </div>
            </div>
        {% else %}
            {% do form.usedPowers.setRendered() %}
        {% endif %}
    </div>
</div>

{% if not id %}
<div class="row">
    <div class="col">
        <p class="text-info">{{ 'text.more_fields_after_add'|trans }}</p>
    </div>
</div>
{% endif %}

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_action'|trans : 'action.add_action'|trans,
    delete: id ? {text: 'action.delete_action'|trans, link: path('admin_action_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}