{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.name) }}
            </div>
            <div class="col-12">
                {{ form_row(form.slug) }}
            </div>
            <div class="col-12">
                {{ form_row(form.link) }}
            </div>
            <div class="col-12 col-lg-2">
                {{ form_row(form.number) }}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        {{ form_row(form.map) }}
    </div>
</div>

{% if id %}
    <div class="row mb-3">
        <div class="col">
            {% include 'admin/component/form/widget/addable.html.twig' with {field: form.problems} only %}
        </div>
    </div>
{% else %}
    {% do form.problems.setRendered() %}
{% endif %}

{% if id %}
    <div class="row mb-3">
        <div class="col">
            {% include 'admin/component/form/widget/addable.html.twig' with {field: form.candidates} only %}
        </div>
    </div>
{% else %}
    {% do form.candidates.setRendered() %}
{% endif %}

{% if id %}
    <div class="row mb-3">
        <div class="col">
            {% include 'admin/component/form/widget/addable.html.twig' with {field: form.candidateProblemOpinions} only %}
        </div>
    </div>
{% else %}
    {% do form.candidateProblemOpinions.setRendered() %}
{% endif %}

{% if not id %}
    <div class="row mb-3">
        <div class="col">
            <p class="text-info">{{ 'text.more_fields_after_add'|trans }}</p>
        </div>
    </div>
{% endif %}

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_constituency'|trans : 'action.add_constituency'|trans,
    delete: id ? {text: 'action.delete_constituency'|trans, link: path('admin_constituency_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}