{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.election) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.constituency) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.institutionTitle) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.politician) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.beginDate, {
            'type': 'text',
            'attr': {'class': 'datepicker-input', 'readonly': true}
        }) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.endDate, {
            'type': 'text',
            'attr': {'class': 'datepicker-input', 'readonly': true}
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.votesCount) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.votesPercent) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.decisionLink) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="card mt-3">
            <div class="card-header">{{ "label.mandate_ceasing"|trans }}</div>
            <div class="row px-3 pt-3">
                <div class="col-lg-4">
                    {{ form_row(form.ceasingDate, {
                        'type': 'text',
                        'attr': {'class': 'datepicker-input'}
                    }) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.ceasingReason) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.ceasingLink) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% if id %}
    <div class="row">
        <div class="col pb-3">
            {{ form_row(form.competenceUses) }}
        </div>
    </div>
{% else %}
    {% do form.competenceUses.setRendered() %}
{% endif %}

{% if not id %}
    <div class="row">
        <div class="col">
            <p class="text-info">{{ 'text.more_fields_after_add'|trans }}</p>
        </div>
    </div>
{% endif %}

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_mandate'|trans : 'action.add_mandate'|trans,
    delete: id ? {text: 'action.delete_mandate'|trans, link: path('admin_mandate_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}