{# @var \Symfony\Component\Form\FormInterface form #}
{# @var \App\Entity\Politician politician Optional #}

{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-2">
        {% include 'admin/component/form/field/photo.html.twig' with {
            field: form.photoUpload,
            imagePath: (politician is defined and politician.photo)
                ? (constant('App\\Consts::UPLOADS_DIR_POLITICIAN') ~ politician.photo)
                : null,
        } only %}
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-4">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.slug) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                {{ form_row(form.profession) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.birthDate, {
                    'type': 'text',
                    'attr': {'class': 'datepicker-input', 'readonly': true}
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.studies) }}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        {{ form_row(form.previousTitles) }}
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">{{ "title.contact_information"|trans }}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.website) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.facebook) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.phone) }}
            </div>
        </div>
    </div>
</div>

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_politician'|trans : 'action.add_politician'|trans,
    delete: id ? {text: 'action.delete_politician'|trans, link: path('admin_politician_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}