{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.slug) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            {% include 'admin/component/form/field/photo.html.twig' with {
                field: form.photo,
                imageDir: '/uploads/politicians/'
            } only %}
        </div>
    </div>
</div>

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_politician'|trans : 'action.add_politician'|trans,
    delete: id ? {text: 'action.delete_politician'|trans, link: path('admin_politician_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}