{{ form_start(form) }}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.slug) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col">
                {{ form_row(form.madeTime) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-md-3"></div>
                {{ form_row(form.published) }}
            </div>
        </div>
    </div>
</div>

{% if form.vars.value.id %}
    <div class="row">
        <div class="col pb-3">
            {{ form_row(form.sources) }}
        </div>
    </div>
{% else %}
    {% do form.sources.setRendered() %}
{% endif %}

<div class="row">
    <div class="col">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="row">
    <div class="col-4">
        {{ form_row(form.categories) }}
    </div>
    <div class="col-4">
        {{ form_row(form.mandate) }}
    </div>
    <div class="col-4">
        {{ form_row(form.status) }}
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary">{{ submitText is defined ? submitText : 'action.save'|trans }}</button>
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}