{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.namePlural) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.slug) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.description) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.color) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.effect) }}
    </div>
</div>

{% include "admin/component/form/widget/submit-delete-buttons.html.twig" with {
    submitText: id ? 'action.edit_status'|trans : 'action.add_status'|trans,
    delete: id ? {text: 'action.delete_status'|trans, link: path('admin_status_delete', {id: id})} : false
} only %}

{{ form_rest(form) }}

{{ form_end(form) }}