{% set id = form.vars.value|default({id:0}).id %}

{{ form_start(form) }}

<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.namePlural) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        {{ form_row(form.color) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.effect) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.slug) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary">
            <span class="fa {{ id ? 'fa-pencil-alt' : 'fa-plus' }} mr-1"></span>
            {{ submitText is defined ? submitText : 'action.save'|trans }}
        </button>
    </div>
    {% if id %}
        <div class="col text-right">
            <a class="btn btn-secondary" href="{{ path('admin_status_delete', {id: id}) }}">
                <span class="fa fa-trash-alt mr-1"></span>
                {{ deleteText is defined ? deleteText : 'action.delete'|trans }}
            </a>
        </div>
    {% endif %}
</div>

{{ form_rest(form) }}

{{ form_end(form) }}