{# @var \App\Entity\Mandate mandate #}
{# @var bool hide_title #}

{% import 'macros.html.twig' as macros %}

{% set endDate = mandate.endDate|date_modify("tomorrow midnight -1 seconds") %}

{% set remaining_time %}
    <div class="mt-{{ hide_title|default(false) ? '1' : '2' }} small text-light {%
        if hide_title|default(false) %}text-center{% else %}text-right{% endif %}"
    >
        <small>{{
            endDate > date()
            ? "text.the_mandate_ends_in"|trans({"%time%": endDate|ago})
            : "text.the_mandate_ended_ago"|trans({"%time%": endDate|ago})
        }}</small>
    </div>
{% endset %}

<div class="d-inline-block mt-3 mt-lg-2">
    <div class="row">
        <div class="text-left col-6 col-md-auto">
            <span
                class="badge badge-primary text-light"
                data-toggle="tooltip" data-placement="right"
                title="{{ mandate.beginDate|ago }}"
            >{{ mandate.beginDate|date }}</span>
        </div>
        <div class="col-12 col-md order-first order-md-0">
            {% if hide_title|default(false) %}
                {{ remaining_time }}
            {% else %}
                <span class="badge badge-light p-2">
                    {{- mandate.politician.female
                    ? mandate.institutionTitle.title.nameFemale
                    : mandate.institutionTitle.title.name -}}
                </span>
            {% endif %}
        </div>
        <div class="text-right col-6 col-md-auto">
            <span class="badge badge-primary text-light">{{ endDate|date }}</span>
        </div>
    </div>
    {% if mandate.endDate > date() %}
        <div class="progress thin bg-light mandate-period mt-3">
            <div class="progress-bar bg-primary rounded"
                 style="width: {{ '' ~ macros.get_date_interval_progress(mandate.beginDate, mandate.endDate) }}%;"
            >
                <span class="fas fa-dot-circle bg-white text-primary rounded-circle"></span>
            </div>
        </div>
        {% if not hide_title|default(false) %}
            {{ remaining_time }}
        {% endif %}
    {% endif %}
</div>