{# @var \App\Entity\Mandate[] mandates #}
{# @var int begin_rank #}

{% import 'macros.html.twig' as macros %}

{% set current_rank = begin_rank|default(1) %}

<div class="list-group block-mandate-rank-list">
    {% for mandate in mandates %}
        {% if prev_mandate is defined and mandate.competenceUsesPoints < prev_mandate.competenceUsesPoints %}
            {% set current_rank = current_rank + 1 %}
        {% endif %}

        <a
            href="{{ path('mandate', {
                "electionSlug": mandate.election.slug,
                "politicianSlug": mandate.politician.slug
            }) }}"
            class="list-group-item list-group-item-action px-4 py-3"
        >
            <div class="row align-items-center">
                <div class="col-md-auto mb-1 mb-md-0 text-center text-dark">
                    <div class="d-flex align-items-center justify-content-center bg-warning rounded-circle place-circle">
                        <div class="pt-1">
                            <small class="d-block">{{ "label.the_place"|trans|lower }}</small>
                            <samp
                                class="place-number d-block font-size-2 {% if current_rank == 1 %}font-weight-bold{% endif %}"
                            >{{ current_rank }}</samp>
                        </div>
                    </div>
                </div>
                <div class="col-md text-center text-md-left">
                    <div class="h2 mb-1 row align-items-center">
                        <div class="col-md-auto mb-1 mb-md-0 pr-md-0 d-md-flex align-items-center">
                            <img
                                src="{{ macros.politician_photo_url(mandate.politician) }}"
                                alt="{{ mandate.politician.firstName }} {{ mandate.politician.lastName }}"
                                class="d-inline-block rounded-circle rank-item-politician-photo"
                            >
                        </div>
                        <div class="col-md text-primary">
                            {{ mandate.politician.firstName }} {{ mandate.politician.lastName }}
                        </div>
                    </div>
                    <div>
                        <big>
                            <strong class="text-info">{{ mandate.competenceUsesPoints }}</strong>
                            <span>{{ "text.points"|trans({"%count%": mandate.competenceUsesPoints}) }}</span>
                        </big>
                    </div>
                </div>
            </div>
        </a>

        {# @var \App\Entity\Mandate prev_mandate #}
        {% set prev_mandate = mandate %}
    {% endfor %}
</div>