{# @var \App\Entity\Politician politician #}
{# @var \App\Entity\Mandate mandate Optional #}
{# @var int rank Optional #}
{# @var bool is_mandate_page Optional #}

{% import 'macros.html.twig' as macros %}

{% set is_mandate_page = is_mandate_page is defined ? is_mandate_page : false %}
{% set is_competence_use_trakced = mandate and mandate.election.competenceUseTracked %}
{% set maxPhotoWidth = '8rem' %}

<div class="py-4 bg-dark-pattern text-white">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-0">
                    {% if is_mandate_page %}
                        <a
                            href="{{ path('politician', {'slug': politician.slug}) }}"
                            class="text-white"
                        >
                            {{- "" -}}
                            <span itemprop="givenName">{{ politician.firstName }}</span>
                            <span itemprop="familyName">{{ politician.lastName }}</span>
                            {{- "" -}}
                        </a>
                    {% else %}
                        <span itemprop="givenName">{{ politician.firstName }}</span>
                        <span itemprop="familyName">{{ politician.lastName }}</span>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row align-items-lg-center text-center">
            <div class="col-12 col-lg text-lg-right text-warning">
                {% if rank %}
                    <sup class="font-size-2 mr-3 position-relative">
                        <span class="text-white">
                            {{- "label.the_place"|trans|lower -}}
                        </span>
                        {{- "" -}}
                        <a
                            href="{{ path('mandates', {"electionSlug": mandate.election.slug}) }}"
                            class="position-absolute btn btn-sm btn-outline-warning text-nowrap"
                            style="right: 0; top: 3.3rem;"
                        ><small><span class="fa fa-star mr-2"></span>{{ "action.see_the_top"|trans }}</small></a>
                        {{- "" -}}
                    </sup>
                    <span class="font-size-6">{{ rank }}</span>
                {% endif %}
            </div>
            <div class="col-12 col-lg-auto px-lg-5 order-first order-lg-0">
                {% set image %}
                    <img
                        src="{{ macros.politician_photo_url(politician) }}"
                        alt="{{ politician.firstName ~ " " ~ politician.lastName }}"
                        class="d-inline-block bg-white rounded-circle politician-photo my-2"
                        style="max-width: {{ maxPhotoWidth }};"
                        itemprop="image"
                    >
                {% endset %}
                {% if is_mandate_page %}
                    <a
                        href="{{ path('politician', {'slug': politician.slug}) }}"
                        class="d-inline-block"
                    >{{ image }}</a>
                {% else %}
                    {{ image }}
                {% endif %}
            </div>
            <div class="col-12 col-lg text-lg-left text-info">
                {% if mandate and is_competence_use_trakced %}
                    <span class="font-size-6">{{ mandate.competenceUsesPoints }}</span>
                    <sup class="font-size-2 ml-3 position-relative">
                        <span class="text-white">
                            {{- "text.points"|trans({"%count%": mandate.competenceUsesPoints}) -}}
                        </span>
                        {%- if not is_mandate_page and mandate.competenceUsesPoints -%}
                            <a
                                href="{{ path('mandate', {'electionSlug': mandate.election.slug, 'politicianSlug': politician.slug}) }}"
                                class="position-absolute btn btn-sm btn-outline-info text-nowrap"
                                style="left: 0; top: 3.3rem;"
                            ><small>{{ "action.see_details"|trans }}<span class="fa fa-chart-pie ml-2"></span></small></a>
                        {%- endif -%}
                    </sup>
                {% endif %}
            </div>
        </div>
        {% if mandate %}
            <div class="row">
                <div class="col text-center">
                    {% include "app/component/block/mandate/begin-end.html.twig" with {
                        mandate: mandate
                    } only %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

