{# @var \App\Entity\Politician politician #}
{# @var \App\Entity\Mandate mandate Optional #}
{# @var int rank Optional #}
{# @var bool is_mandate_page Optional #}

{% import 'macros.html.twig' as macros %}

{% set is_mandate_page = is_mandate_page is defined ? is_mandate_page : false %}
{% set is_competence_use_trakced = mandate and mandate.election.competenceUseTracked %}
{% set maxPhotoWidth = '8rem' %}

<div class="py-4 bg-dark-pattern text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="mb-0">
                    {% if is_mandate_page %}
                        <a
                            href="{{ path('politician', {'slug': politician.slug}) }}"
                            class="text-white"
                        >
                            {{- "" -}}
                            <span itemprop="givenName">{{ politician.firstName }}</span>
                            <span itemprop="familyName">{{ politician.lastName }}</span>
                            {{- "" -}}
                        </a>
                    {% else %}
                        <span itemprop="givenName">{{ politician.firstName }}</span>
                        <span itemprop="familyName">{{ politician.lastName }}</span>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="row align-items-lg-center text-center">
            <div class="col-12 col-lg text-lg-right text-warning d-lg-flex justify-content-end align-items-center">
                {% if rank %}
                    <div class="d-inline-block font-size-2 mr-3">
                        <h6 class="mt-4 mb-lg-3 text-white-50">{{ "title.top_responsible_deputies"|trans }}</h6>
                        <p class="mb-3 text-white">
                            {{- "label.the_place"|trans|lower -}}
                            <strong class="ml-3 font-size-3 text-warning d-lg-none">{{ rank }}</strong>
                        </p>
                        <a
                            href="{{ path('mandates', {"electionSlug": mandate.election.slug}) }}"
                            class="btn btn-sm btn-outline-warning text-nowrap"
                        ><small><span class="fa fa-star mr-2"></span>{{ "action.see_the_top"|trans }}</small></a>
                    </div>
                    <div class="font-size-6 d-none d-lg-block">{{ rank }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-auto px-lg-5 order-first order-lg-0">
                {% set image %}
                    <img
                        src="{{ macros.politician_photo_url(politician) }}"
                        alt="{{ politician.firstName ~ " " ~ politician.lastName }}"
                        class="d-inline-block bg-white rounded-circle politician-photo my-2"
                        style="max-width: {{ maxPhotoWidth }};"
                        itemprop="image"
                    >
                {% endset %}
                {% if is_mandate_page %}
                    <a
                        href="{{ path('politician', {'slug': politician.slug}) }}"
                        class="d-inline-block"
                    >{{ image }}</a>
                {% else %}
                    {{ image }}
                {% endif %}
            </div>
            <div class="col-12 col-lg mt-4 mt-lg-0 text-lg-left text-info d-lg-flex justify-content-start align-items-center">
                {% if mandate and is_competence_use_trakced %}
                    {% set show_link = not is_mandate_page and mandate.competenceUsesPoints %}
                    <div class="font-size-6 d-none d-lg-block">{{ mandate.competenceUsesPoints }}</div>
                    <div class="d-inline-block font-size-2 ml-3">
                        <h6 class="mt-{{ show_link ? "4" : "2" }} mb-lg-3 text-white-50">
                            {{ "title.the_points_for_used_powers"|trans }}
                        </h6>
                        <p class="mb-3 text-white">
                            <strong class="mr-3 font-size-3 text-info d-lg-none">{{ mandate.competenceUsesPoints }}</strong>
                            {{- "text.points"|trans({"%count%": mandate.competenceUsesPoints}) -}}
                        </p>
                        {%- if show_link -%}
                            <a
                                href="{{ path('mandate', {'electionSlug': mandate.election.slug, 'politicianSlug': politician.slug}) }}"
                                class="btn btn-sm btn-outline-info text-nowrap"
                            ><small>{{ "action.see_points_details"|trans }}<span class="fa fa-chart-pie ml-2"></span></small></a>
                        {%- endif -%}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if mandate %}
            <div class="row mt-4 mt-lg-0">
                <div class="col text-center">
                    {% include "app/component/block/mandate/begin-end.html.twig" with {
                        mandate: mandate
                    } only %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

