<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">{{ 'title.dashboard'|trans }}</a></li>
        {% if items is defined %}
            {% for item in items %}
                <li class="breadcrumb-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% if current is defined %}
            <li class="breadcrumb-item active" aria-current="page">{{ current.title }}</li>
        {% endif %}
        <li class="ml-auto">
            {% if frontendLink is defined %}
                <a class="no-underline mr-5" href="{{ frontendLink }}">
                    <span class="fa fa-external-link-alt"></span>
                    <span class="d-none d-md-inline ml-1">{{ "action.view_on_site"|trans }}</span>
                </a>
            {% endif %}
            {% if add is defined %}
                <a class="no-underline" href="{{ add.link }}">
                    <span class="fa fa-plus-square"></span>
                    <span class="d-none d-md-inline ml-1">{{ add.text|default('action.add'|trans) }}</span>
                </a>
            {% endif %}
        </li>
    </ol>
</nav>