<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">{{ 'title.dashboard'|trans }}</a></li>
        {% if items is defined %}
            {% for item in items %}
                <li class="breadcrumb-item"><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% if current is defined %}
            <li class="breadcrumb-item active" aria-current="page">{{ current.title }}</li>
        {% endif %}
        {% if add is defined %}
        <li class="ml-auto">
            <a
                class="no-underline"
                href="{{ add.link }}"
            >
                <span class="fa fa-plus-square"></span>
                <span class="d-none d-md-inline ml-1">{{ add.text|default('action.add'|trans) }}</span>
            </a>
        </li>
        {% endif %}
    </ol>
</nav>