{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'admin/component/breadcrumb.html.twig' with {
            items: [
                {title: 'title.competences'|trans, link: path('admin_competences')}
            ],
            current: {title: 'title.competence_delete'|trans},
            add: {link: path('admin_competence_add'), text: 'action.add_competence'|trans}
        } only %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <h3>{{ competence.name }}</h3>
                {{ form_errors(form) }}
                <p>
                    <button type="submit" class="btn btn-danger">
                        <span class="fa fa-trash-alt"></span>
                        {{ 'action.delete_competence'|trans }}
                    </button>
                </p>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}